
<section *ngIf="this._uiservice.langDataSource.value == 'ar'" dir='rtl' >


    <br>
    <br>
    
    <div class="container-fluid">

      <form class="form-row dateSection" name="form" #f="ngForm" >
    
        <div class="form-group row col-md-4">
            <label class="col-sm-3 col-form-label"> {{field_name_product_fromdate}}<span
              class="text-danger font-weight-bold">
              *</span></label>
              <div class="col-sm-8">
                <input type="date" class="form-control"   max="{{date | date:'yyyy-MM-dd'}}" [(ngModel)]="model.fromDate"  name="fromDate" #fromDate="ngModel"
      
                [ngClass]="{ 'is-invalid': f.submitted && fromDate.invalid, 
                  'is-valid': f.submitted && fromDate.valid }"
                 required>
              
                 <div *ngIf="f.submitted && fromDate.invalid" class="invalid-feedback">
                     <div *ngIf="fromDate.errors.required">Please provide fromDate</div>
                  
                
                 </div> 
            </div>
          </div>
          <div class="form-group  row col-md-4">
            <label class="col-sm-3 col-form-label"> {{field_name_product_todate}}<span
              class="text-danger font-weight-bold">
              *</span></label>
              <div class="col-sm-8">
                <input type="date" class="form-control" [(ngModel)]="model.toDate"  name="toDate" #toDate="ngModel"
      
                [ngClass]="{ 'is-invalid': f.submitted && toDate.invalid, 
                  'is-valid': f.submitted && toDate.valid }"
                 required>
              
                 <div *ngIf="f.submitted && toDate.invalid" class="invalid-feedback">
                     <div *ngIf="toDate.errors.required">Please provide toDate</div>
                  
                
                 </div> 
              
            </div>
      
          </div>
          <div class="col-md-2">
            <button class="btn btn-success search-btn"  (click)="filterData()"  >{{field_name_product_search}}
            
            </button>
           
        </div>
       
          </form>
          <form
        class="form-row dateSectionMat"
        name="form"
        #f="ngForm"
        (ngSubmit)="f.form.valid && filterData()"
      >
        &nbsp;&nbsp;<mat-form-field
          style="width: 110px; margin-left: 10px; font-weight: bold"
        >
          <input
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="model.fromDate"
            name="fromDate"
            #fromDate="ngModel"
            [ngClass]="{
              'is-invalid': f.submitted && fromDate.invalid,
              'is-valid': f.submitted && fromDate.valid
            }"
            required
            placeholder={{field_name_product_fromdate}}
          />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div *ngIf="f.submitted && fromDate.invalid" class="invalid-feedback">
          <div *ngIf="fromDate.errors.required">Please provide fromDate</div>
        </div>
  
        <mat-form-field style="width: 93px; margin-left: 10px; font-weight: bold">
          <input
            matInput
            [matDatepicker]="picker1"
            [(ngModel)]="model.toDate"
            name="toDate"
            #toDate="ngModel"
            [ngClass]="{
              'is-invalid': f.submitted && toDate.invalid,
              'is-valid': f.submitted && toDate.valid
            }"
            required
            placeholder={{field_name_product_todate}}
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <div *ngIf="f.submitted && toDate.invalid" class="invalid-feedback">
          <div *ngIf="toDate.errors.required">Please provide toDate</div>
        </div>
        &nbsp;&nbsp;
        <div style="width: 110px">
          <button class="btn btn-success search-btn font-weight-bold">
            {{ field_name_product_search }}
          </button>
        </div>
      </form>
    <div class="col-md-12 col-lg-12">
      <div class="row">
     
            <div class="col-md-2">
              <div class="form-group  has-search dateSection">
                <span class="fa fa-search form-control-feedback"></span>
           <input type="text" class="form-control" name="product_name" placeholder="Enter Product Name to search"
             [(ngModel)]="product_name" (ngModelChange)="searchData('clear')">
          </div>
          <div
          class="form-group has-search dateSectionMat"
          style="display: flex; align-items: center"
        >
         <mat-form-field
            class="example-full-width"
            style="width: 200px; font-weight: bold"
          >
            <input
              matInput
              [(ngModel)]="product_name"
              name="product_name"
              (ngModelChange)="searchData('clear')"
              placeholder="Enter First Name to search"
            />
          </mat-form-field>
          <button
            class="btn btn-success search-btn font-weight-bold"
            style="margin-right: 80px"
            (click)="searchData('search')"
          >
            {{ field_name_product_search }}
          </button>
         </div>
          </div> 
          <div class="dateSection">
            <div class="col-sm-6">
              <button
                type="button"
                (click)="downloadPdf()"
                class="btn btn-success font-weight-bold"
              >
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                {{ field_name_product_pdf }}
              </button>
            </div>
            <div class="col-sm-6">
              <button
                type="button"
                (click)="generateCsv()"
                class="btn btn-success font-weight-bold"
              >
                <i class="fa fa-building-o" aria-hidden="true"></i
                >{{ field_name_product_csv }}
              </button>
            </div>
          </div>
    
          <div class="d-flex dateSectionMat">
            <div class="col-md-6">
              <button
                type="button"
                (click)="downloadPdf()"
                class="btn btn-success font-weight-bold"
              >
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                {{ field_name_product_pdf }}
              </button>
            </div>
            <div class="col-md-6">
              <button
                type="button"
                class="btn btn-info font-weight-bold"
                routerLink="/inventory/products"
              >
                <i class="fa fa-plus" aria-hidden="true"></i
                >{{ field_name_product_addproduct }}
              </button>
            </div>
          </div>
          <div class="dateSection">
            <div class="col-md-6">
              <button
                class="btn btn-primary font-weight-bold"
                data-toggle="modal"
                data-target="#csv"
              >
              Upload CSV
              </button>
            </div>
            <div class="col-md-6">
              <button
                type="button"
                class="btn btn-info font-weight-bold"
                routerLink="/inventory/products"
              >
                <i class="fa fa-plus" aria-hidden="true"></i
                >{{ field_name_product_addproduct }}
              </button>
            </div>
          </div>
    
          <div class="d-flex dateSectionMat">
            <div class="col-md-6">
              <button
                type="button"
                (click)="generateCsv()"
                class="btn btn-success font-weight-bold"
              >
                <i class="fa fa-building-o" aria-hidden="true"></i>&nbsp;&nbsp;{{
                  field_name_product_csv
                }}
              </button>
            </div>
            <div class="col-md-6">
              <button
                class="btn btn-primary font-weight-bold"
                data-toggle="modal"
                data-target="#csv"
              >
               Upload CSV
              </button>
            </div>
          </div>
      
           
                
          <!-- Modal for Display uploaded files -->
          <div class="modal fade" id="FileOpen" tabindex="-1" role="dialog" aria-labelledby="FileOpenLabel" >
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-body p-0">
                  <img src="" alt="" style="width: 100%;">
                </div>
              </div>
            </div>
          </div>
          
          <!-- Modal for add new attachmenst files -->
          <div class="modal fade" id="csv" tabindex="-1" role="dialog" >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Upload Csv</h4>
                </div>
                <form class="needs-validation" novalidate>
                  <div class="modal-body mt-2 mb-3">
                    <div class="row">
          
                      <div class=" col-12 col-md-12">
                        <label for="file"> Upload csv file</label>
                        <input type="file" name="file" id="file" class="form-control"
                         [ngClass]="invalid_file ? 'is-invalid': 'is-valid'" (change)="upload($event)">
                        <div class="invalid-feedback">
                          Please upload a csv file.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary saveBtn" data-dismiss="modal"
                     (click)="save()" [disabled]="invalid_file">Upload Now</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div> 
    </div>
    <hr>
    <div class="card-body product-table p-t-35">
      <div class="table-responsive">
        <table id="contentToConvert" class="table" [mfData]="filteredTableDataArr" #mf="mfDataTable" >
          <thead class="thead-light">
            <tr style="white-space: nowrap">
              <!--   <th width="20%">
                <mfDefaultSorter by="SlNo">SL NO</mfDefaultSorter>
              </th> -->
              <th width="20%">
                <mfDefaultSorter by="product_name">{{field_name_product_name}}</mfDefaultSorter>
              </th>


              <th width="20%">
                <mfDefaultSorter by="currency_name">Currency</mfDefaultSorter>
              </th>
              <th width="20%">
                <mfDefaultSorter by="cost">{{field_name_cost}}</mfDefaultSorter>
              </th>
             
              <th width="20%">
                <mfDefaultSorter by="supplier_name">{{field_name_supplier_name}}</mfDefaultSorter>
              </th>
             <!--  <th width="20%">
                <mfDefaultSorter by="category_name">{{field_name_category_name}}</mfDefaultSorter>
              </th>
              <th width="20%">
                <mfDefaultSorter by="files">{{field_name_files}}</mfDefaultSorter>
              </th> -->
             
              <th width="20%" *ngIf="SHOW_EDIT_DELETE">
              {{field_name_product_actions}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of mf.data | orderBy: key: reverse | paginate: {itemsPerPage:5,currentPage:p,totalItems:productDetailsCount}; let i = index" >
              <!--   <td>{{obj.product_id}}</td> -->
              <td>{{obj.product_name}}</td>
              <td>{{obj.currency_name}}</td>
              <td>{{obj.cost}}</td>
              <td>{{obj.supplier_name}}</td>
             <!--  <td>{{obj.category_name}}</td>
              <td><img [src]="obj.files" style="height: 50px;width: 50px; border-radius: 50%;"> </td> -->

              <td *ngIf="SHOW_EDIT_DELETE">
             
                <i class="fa fa-edit" (click)="onClickEdit(obj)"></i> 
  
                  <span *ngIf="ALL_DELETE_ALLOWED"><i (click)="onClickDelete(obj)" class="fa fa-trash"></i></span>
            </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4" *ngIf="mf.data?.length > 0">
                <pagination-controls (pageChange)="pageChanged('schedule', (p = $event))">
                          
                </pagination-controls>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</section>




<section *ngIf="this._uiservice.langDataSource.value != 'ar'" dir='ltr' >



  <br>
  <br>
  
  <div class="container-fluid">

   
    <form class="form-row dateSection" name="form" #f="ngForm" >
    
      <div class="form-group row col-md-4">
          <label class="col-sm-3 col-form-label"> {{field_name_product_fromdate}}<span
            class="text-danger font-weight-bold">
            *</span></label>
            <div class="col-sm-8">
              <input type="date" class="form-control"   max="{{date | date:'yyyy-MM-dd'}}" [(ngModel)]="model.fromDate"  name="fromDate" #fromDate="ngModel"
    
              [ngClass]="{ 'is-invalid': f.submitted && fromDate.invalid, 
                'is-valid': f.submitted && fromDate.valid }"
               required>
            
               <div *ngIf="f.submitted && fromDate.invalid" class="invalid-feedback">
                   <div *ngIf="fromDate.errors.required">Please provide fromDate</div>
                
              
               </div> 
          </div>
        </div>
        <div class="form-group  row col-md-4">
          <label class="col-sm-3 col-form-label"> {{field_name_product_todate}}<span
            class="text-danger font-weight-bold">
            *</span></label>
            <div class="col-sm-8">
              <input type="date" class="form-control" [(ngModel)]="model.toDate"  name="toDate" #toDate="ngModel"
    
              [ngClass]="{ 'is-invalid': f.submitted && toDate.invalid, 
                'is-valid': f.submitted && toDate.valid }"
               required>
            
               <div *ngIf="f.submitted && toDate.invalid" class="invalid-feedback">
                   <div *ngIf="toDate.errors.required">Please provide toDate</div>
                
              
               </div> 
            
          </div>
    
        </div>
        <div class="col-md-2">
          <button class="btn btn-success search-btn"  (click)="filterData()"  >{{field_name_product_search}}
          
          </button>
         
      </div>
     
        </form>
        <form
        class="form-row dateSectionMat"
        name="form"
        #f="ngForm"
        (ngSubmit)="f.form.valid && filterData()"
      >
        &nbsp;&nbsp;<mat-form-field
          style="width: 110px; margin-left: 10px; font-weight: bold"
        >
          <input
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="model.fromDate"
            name="fromDate"
            #fromDate="ngModel"
            [ngClass]="{
              'is-invalid': f.submitted && fromDate.invalid,
              'is-valid': f.submitted && fromDate.valid
            }"
            required
            placeholder={{field_name_product_fromdate}}
          />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div *ngIf="f.submitted && fromDate.invalid" class="invalid-feedback">
          <div *ngIf="fromDate.errors.required">Please provide fromDate</div>
        </div>
  
        <mat-form-field style="width: 93px; margin-left: 10px; font-weight: bold">
          <input
            matInput
            [matDatepicker]="picker1"
            [(ngModel)]="model.toDate"
            name="toDate"
            #toDate="ngModel"
            [ngClass]="{
              'is-invalid': f.submitted && toDate.invalid,
              'is-valid': f.submitted && toDate.valid
            }"
            required
            placeholder={{field_name_product_todate}}
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <div *ngIf="f.submitted && toDate.invalid" class="invalid-feedback">
          <div *ngIf="toDate.errors.required">Please provide toDate</div>
        </div>
        &nbsp;&nbsp;
        <div style="width: 110px">
          <button class="btn btn-success search-btn font-weight-bold">
            {{ field_name_product_search }}
          </button>
        </div>
      </form>
  <div class="col-md-12 col-lg-12">
    <div class="row">
      
          <div class="col-md-2">
            <div class="form-group  has-search dateSection">
              <span class="fa fa-search form-control-feedback"></span>
         <input type="text" class="form-control" name="product_name" placeholder="Enter Product Name to search"
           [(ngModel)]="product_name" (ngModelChange)="searchData('clear')">
        </div>
        <div
        class="form-group has-search dateSectionMat"
        style="display: flex; align-items: center"
      >
       <mat-form-field
          class="example-full-width"
          style="width: 200px; font-weight: bold"
        >
          <input
            matInput
            [(ngModel)]="product_name"
            name="product_name"
            (ngModelChange)="searchData('clear')"
            placeholder="Enter First Name to search"
          />
        </mat-form-field>
        <button
          class="btn btn-success search-btn font-weight-bold"
          style="margin-left: 42px"
          (click)="searchData('search')"
        >
          {{ field_name_product_search }}
        </button>
       </div>
        </div> 
       <div class="col-sm-1">
        <button type="button" (click)="downloadPdf()" class="btn btn-success">
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i> {{field_name_product_pdf}}
          </button>
       </div> 
       <div class="col-sm-1">
       <button type="button" (click)="generateCsv()" class="btn btn-success">
        <i class="fa fa-building-o" aria-hidden="true"></i> {{field_name_product_csv}}
        </button>
       
       </div>
       <div class="col-sm-2">
        <button class="btn btn-primary" data-toggle="modal" data-target="#csv" >Upload Csv </button>
      </div>
       <div class="col-sm-2">
        <button type="button" class="btn btn-info"
        routerLink="/inventory/products">  <i class="fa fa-plus" aria-hidden="true"></i> {{field_name_product_addproduct}}</button>
      </div>
      <div class="dateSection">
        <div class="col-sm-6">
          <button
            type="button"
            (click)="downloadPdf()"
            class="btn btn-success font-weight-bold"
          >
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
            {{ field_name_product_pdf }}
          </button>
        </div>
        <div class="col-sm-6">
          <button
            type="button"
            (click)="generateCsv()"
            class="btn btn-success font-weight-bold"
          >
            <i class="fa fa-building-o" aria-hidden="true"></i
            >{{ field_name_product_csv }}
          </button>
        </div>
      </div>

      <div class="d-flex dateSectionMat">
        <div class="col-md-6">
          <button
            type="button"
            (click)="downloadPdf()"
            class="btn btn-success font-weight-bold"
          >
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
            {{ field_name_product_pdf }}
          </button>
        </div>
        <div class="col-md-6">
          <button
            type="button"
            class="btn btn-info font-weight-bold"
            routerLink="/inventory/products"
          >
            <i class="fa fa-plus" aria-hidden="true"></i
            >{{ field_name_product_addproduct }}
          </button>
        </div>
      </div>
      <div class="dateSection">
        <div class="col-md-6">
          <button
            class="btn btn-primary font-weight-bold"
            data-toggle="modal"
            data-target="#csv"
          >
          Upload CSV
          </button>
        </div>
        <div class="col-md-6">
          <button
            type="button"
            class="btn btn-info font-weight-bold"
            routerLink="/inventory/products"
          >
            <i class="fa fa-plus" aria-hidden="true"></i
            >{{ field_name_product_addproduct }}
          </button>
        </div>
      </div>

      <div class="d-flex dateSectionMat">
        <div class="col-md-6">
          <button
            type="button"
            (click)="generateCsv()"
            class="btn btn-success font-weight-bold"
          >
            <i class="fa fa-building-o" aria-hidden="true"></i>&nbsp;&nbsp;{{
              field_name_product_csv
            }}
          </button>
        </div>
        <div class="col-md-6">
          <button
            class="btn btn-primary font-weight-bold"
            data-toggle="modal"
            data-target="#csv"
          >
           Upload CSV
          </button>
        </div>
      </div>
         
              
        <!-- Modal for Display uploaded files -->
        <div class="modal fade" id="FileOpen" tabindex="-1" role="dialog" aria-labelledby="FileOpenLabel" >
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-body p-0">
                <img src="" alt="" style="width: 100%;">
              </div>
            </div>
          </div>
        </div>
        
        <!-- Modal for add new attachmenst files -->
        <div class="modal fade" id="csv" tabindex="-1" role="dialog" >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Upload Csv</h4>
              </div>
              <form class="needs-validation" novalidate>
                <div class="modal-body mt-2 mb-3">
                  <div class="row">
        
                    <div class=" col-12 col-md-12">
                      <label for="file"> Upload csv file</label>
                      <input type="file" name="file" id="file" class="form-control"
                       [ngClass]="invalid_file ? 'is-invalid': 'is-valid'" (change)="upload($event)">
                      <div class="invalid-feedback">
                        Please upload a csv file.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary saveBtn" data-dismiss="modal"
                   (click)="save()" [disabled]="invalid_file">Upload Now</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div> 
  </div>
  <hr>
  <div class="card-body product-table p-t-35">
    <div class="table-responsive">
      <table id="contentToConvert" class="table" [mfData]="filteredTableDataArr" #mf="mfDataTable" >
        <thead class="thead-light">
          <tr style="white-space: nowrap">
            <!--   <th width="20%">
              <mfDefaultSorter by="SlNo">SL NO</mfDefaultSorter>
            </th> -->
            <th width="20%">
              <mfDefaultSorter by="product_name">{{field_name_product_name}}</mfDefaultSorter>
            </th>
            <th width="20%">
              <mfDefaultSorter by="currency_name">Currency</mfDefaultSorter>
            </th>
            <th width="20%">
              <mfDefaultSorter by="cost">{{field_name_cost}}</mfDefaultSorter>
            </th>
           
            <th width="20%">
              <mfDefaultSorter by="supplier_name">{{field_name_supplier_name}}</mfDefaultSorter>
            </th>
          <!--   <th width="20%">
              <mfDefaultSorter by="category_name">{{field_name_category_name}}</mfDefaultSorter>
            </th>
            <th width="20%">
              <mfDefaultSorter by="files">{{field_name_files}}</mfDefaultSorter>
            </th> -->
            <th width="20%" *ngIf="SHOW_EDIT_DELETE">
            {{field_name_product_actions}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of mf.data | orderBy: key: reverse | paginate: {itemsPerPage:5,currentPage:p,totalItems:productDetailsCount}; let i = index" >
            <!--   <td>{{obj.product_id}}</td> -->
            <td>{{obj.product_name}}</td>
            <td>{{obj.currency_name}}</td>
            <td>{{obj.cost}}</td>
            <td>{{obj.supplier_name}}</td>
          <!--   <td>{{obj.category_name}}</td>
            <td><img [src]="obj.files" style="height: 50px;width: 50px; border-radius: 50%;"> </td> -->

            <td *ngIf="SHOW_EDIT_DELETE">
           
              <i class="fa fa-edit" (click)="onClickEdit(obj)"></i> 

                <span *ngIf="ALL_DELETE_ALLOWED"><i (click)="onClickDelete(obj)" class="fa fa-trash"></i></span>
          </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4"  *ngIf="mf.data?.length > 0">
              <pagination-controls (pageChange)="pageChanged('schedule', (p = $event))">
                          
              </pagination-controls>
                                          </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
</section>