





<section *ngIf="this._uiservice.langDataSource.value == 'ar'" dir='rtl' >
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fa fa-history" aria-hidden="true"></i>
            <a
              routerLink="/hrms/settings/dynamicsettings/designationlist"
              class="txtclass"
              >{{ field_name_hrms_dynamic_fields_designation }}</a
            >
          </h5>
          <p class="card-text">{{field_name_hrms_dynamic_fields_designation_heading}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fa fa-history" aria-hidden="true"></i>
            <a
              routerLink="/hrms/settings/dynamicsettings/departmentlist"
              class="txtclass"
              >{{field_name_hrms_dynamic_fields_department }}</a
            >
          </h5>
          <p class="card-text">{{field_name_hrms_dynamic_fields_department_heading}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fa fa-history" aria-hidden="true"></i>
            <a
              routerLink="/hrms/settings/dynamicsettings/travellist"
              class="txtclass"
              >{{ field_name_hrms_dynamic_fields_travel_reimbursement }}</a
            >
          </h5>
          <p class="card-text">{{field_name_hrms_dynamic_fields_travel_reimbursement_heading}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fa fa-history" aria-hidden="true"></i>
            <a
              routerLink="/hrms/settings/dynamicsettings/candidatelist"
              class="txtclass"
              >{{ field_name_hrms_dynamic_fields_candidate }}</a
            >
          </h5>
          <p class="card-text">{{field_name_hrms_dynamic_fields_candidate_heading}}</p>
        </div>
      </div>
    </div>
  
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fa fa-history" aria-hidden="true"></i>
            <a
              routerLink="/hrms/settings/dynamicsettings/employeestatuslist"
              class="txtclass"
              >{{ field_name_hrms_dynamic_fields_employee_status }}</a
            >
          </h5>
          <p class="card-text">{{field_name_hrms_dynamic_fields_employee_status_heading}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fa fa-history" aria-hidden="true"></i>
            <a
              routerLink="/hrms/settings/dynamicsettings/leavetypelist"
              class="txtclass"
              >{{ field_name_hrms_dynamic_fields_configure_leavetype}}</a
            >
          </h5>
          <p class="card-text">{{field_name_hrms_dynamic_fields_configure_leavetype_heading}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fa fa-history" aria-hidden="true"></i>
            <a
              routerLink="/hrms/settings/dynamicsettings/orginfolist"
              class="txtclass"
              >{{ field_name_hrms_dynamic_fields_organisation_info }}</a
            >
          </h5>
          <p class="card-text">{{field_name_hrms_dynamic_fields_organisation_info_heading}}</p>
        </div>
      </div>
    </div>
  </div>
  
</section>





<section *ngIf="this._uiservice.langDataSource.value != 'ar'" dir='ltr' >
  



  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fa fa-history" aria-hidden="true"></i>
            <a
              routerLink="/hrms/settings/dynamicsettings/designationlist"
              class="txtclass"
              >{{ field_name_hrms_dynamic_fields_designation }}</a
            >
          </h5>
          <p class="card-text">{{field_name_hrms_dynamic_fields_designation_heading}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fa fa-history" aria-hidden="true"></i>
            <a
              routerLink="/hrms/settings/dynamicsettings/departmentlist"
              class="txtclass"
              >{{field_name_hrms_dynamic_fields_department }}</a
            >
          </h5>
          <p class="card-text">{{field_name_hrms_dynamic_fields_department_heading}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fa fa-history" aria-hidden="true"></i>
            <a
              routerLink="/hrms/settings/dynamicsettings/travellist"
              class="txtclass"
              >{{ field_name_hrms_dynamic_fields_travel_reimbursement }}</a
            >
          </h5>
          <p class="card-text">{{field_name_hrms_dynamic_fields_travel_reimbursement_heading}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fa fa-history" aria-hidden="true"></i>
            <a
              routerLink="/hrms/settings/dynamicsettings/candidatelist"
              class="txtclass"
              >{{ field_name_hrms_dynamic_fields_candidate }}</a
            >
          </h5>
          <p class="card-text">{{field_name_hrms_dynamic_fields_candidate_heading}}</p>
        </div>
      </div>
    </div>
  
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fa fa-history" aria-hidden="true"></i>
            <a
              routerLink="/hrms/settings/dynamicsettings/employeestatuslist"
              class="txtclass"
              >{{ field_name_hrms_dynamic_fields_employee_status }}</a
            >
          </h5>
          <p class="card-text">{{field_name_hrms_dynamic_fields_employee_status_heading}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fa fa-history" aria-hidden="true"></i>
            <a
              routerLink="/hrms/settings/dynamicsettings/leavetypelist"
              class="txtclass"
              >{{ field_name_hrms_dynamic_fields_configure_leavetype}}</a
            >
          </h5>
          <p class="card-text">{{field_name_hrms_dynamic_fields_configure_leavetype_heading}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fa fa-history" aria-hidden="true"></i>
            <a
              routerLink="/hrms/settings/dynamicsettings/orginfolist"
              class="txtclass"
              >{{ field_name_hrms_dynamic_fields_organisation_info }}</a
            >
          </h5>
          <p class="card-text">{{field_name_hrms_dynamic_fields_organisation_info_heading}}</p>
        </div>
      </div>
    </div>
  </div>
  


  
  </section>

