<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <img src="../../../../../assets/settings/user.png">
          <a routerLink="/ogoul/users" class="txtclass">{{'ogoul User Management'| translate}}</a></h5>
        <p class="card-text">Manage all the sales users and permissions.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <img src="../../../../../assets/settings/user.png">
          <a class="txtclass" routerLink="/ogoul/settings/history">{{'History' | translate}}</a></h5>
        <p class="card-text">Manage all the history details here.</p>
     
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">

          <img src="../../../../../assets/settings/user.png">
          <a routerLink="/ogoul/settings/dynamicsettings" class="txtclass">{{'Configuration Management' | translate }}</a></h5>
          <p class="card-text">Configure Dynamic Fields here</p>

                       <!--  <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <img src="../../../../../assets/settings/user.png">
          <a routerLink="/ogoul/settings/editformfields"  class="txtclass" >{{'editformfields'|translate}}</a></h5>
          <p class="card-text"> Edit all form fields of all tabs</p>
      </div>
    </div>
  </div>
  </div>
       
       
       
       