<br />
<br />

<section *ngIf="this._uiservice.langDataSource.value == 'ar'" dir='rtl' >
  <div class="container-fluid">
    <form class="form-row" name="form" #f="ngForm">
      <div class="container-fluid">
        <form class="form-row dateSection" name="form" #f="ngForm">
          <div class="form-group row col-md-4">
            <label class="col-sm-3 col-form-label">
            {{field_name_hrms_project_fromdate}}<span class="text-danger font-weight-bold">
                *</span
              ></label
            >
            <div class="col-sm-8">
              <input
                type="date"
                class="form-control"
                max="{{ date | date: 'yyyy-MM-dd' }}"
                [(ngModel)]="model.fromDate"
                name="fromDate"
                #fromDate="ngModel"
                [ngClass]="{
                  'is-invalid': f.submitted && fromDate.invalid,
                  'is-valid': f.submitted && fromDate.valid
                }"
                required
              />

              <div
                *ngIf="f.submitted && fromDate.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="fromDate.errors.required">
                  Please provide fromDate
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row col-md-4">
            <label class="col-sm-3 col-form-label">
             {{field_name_hrms_project_todate}}<span class="text-danger font-weight-bold"> *</span></label
            >
            <div class="col-sm-8">
              <input
                type="date"
                class="form-control"
                [(ngModel)]="model.toDate"
                name="toDate"
                #toDate="ngModel"
                [ngClass]="{
                  'is-invalid': f.submitted && toDate.invalid,
                  'is-valid': f.submitted && toDate.valid
                }"
                required
              />
              <div
                *ngIf="f.submitted && toDate.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="toDate.errors.required">Please provide toDate</div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <button class="btn btn-success search-btn" (click)="filterData()">
              {{field_name_hrms_project_search}}
            </button>
          </div>
        </form>
        <form
        class="form-row dateSectionMat"
        name="form"
        #f="ngForm"
        (ngSubmit)="f.form.valid && filterData()"
      >
        &nbsp;&nbsp;<mat-form-field
          style="width: 110px; margin-left: 10px; font-weight: bold"
        >
          <input
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="model.fromDate"
            name="fromDate"
            #fromDate="ngModel"
            [ngClass]="{
              'is-invalid': f.submitted && fromDate.invalid,
              'is-valid': f.submitted && fromDate.valid
            }"
            required
            placeholder={{field_name_hrms_project_fromdate}}
          />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div *ngIf="f.submitted && fromDate.invalid" class="invalid-feedback">
          <div *ngIf="fromDate.errors.required">Please provide fromDate</div>
        </div>
  
        <mat-form-field style="width: 93px; margin-left: 10px; font-weight: bold">
          <input
            matInput
            [matDatepicker]="picker1"
            [(ngModel)]="model.toDate"
            name="toDate"
            #toDate="ngModel"
            [ngClass]="{
              'is-invalid': f.submitted && toDate.invalid,
              'is-valid': f.submitted && toDate.valid
            }"
            required
            placeholder={{field_name_hrms_project_todate}}
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <div *ngIf="f.submitted && toDate.invalid" class="invalid-feedback">
          <div *ngIf="toDate.errors.required">Please provide toDate</div>
        </div>
        &nbsp;&nbsp;
        <div style="width: 92px">
          <button class="btn btn-success search-btn font-weight-bold">
            {{ field_name_hrms_project_search }}
          </button>
        </div>
      </form>
        <div class="row">
          <div class="col-md-3">
            <div
              class="form-group has-search dateSection"
              style="display: flex; align-items: center"
            >
              <input
                type="text"
                class="form-control"
                name="project_type"
                placeholder="Enter Project Name to search"
                autocomplete="off"
                [(ngModel)]="project_type"
                (ngModelChange)="searchData('clear')"
              />
              &nbsp;&nbsp;
              <button class="btn btn-success" (click)="searchData('search')">
                <i class="fa fa-search"></i> {{field_name_hrms_project_search}}
              </button>
            </div>
            <div
            class="form-group has-search dateSectionMat"
            style="display: flex; align-items: center"
          >
           <mat-form-field
              class="example-full-width"
              style="width: 200px; font-weight: bold"
            >
              <input
                matInput
                [(ngModel)]="project_type"
                name="project_type"
                (ngModelChange)="searchData('clear')"
                placeholder="Enter Project Name to search"
              />
            </mat-form-field>
            <button
              class="btn btn-success search-btn font-weight-bold"
              style="margin-right: 80px"
              (click)="searchData('search')"
            >
              {{ field_name_hrms_project_search }}
            </button>
           </div>
          </div>
          <div class="dateSection">
            <div class="col-sm-6">
              <button
                type="button"
                (click)="downloadPdf()"
                class="btn btn-success font-weight-bold"
              >
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                {{ field_name_hrms_project_pdf }}
              </button>
            </div>
            <div class="col-sm-6">
              <button
                type="button"
                (click)="generateCsv()"
                class="btn btn-success font-weight-bold"
              >
                <i class="fa fa-building-o" aria-hidden="true"></i
                >{{ field_name_hrms_project_csv }}
              </button>
            </div>
          </div>
  
          <div class="d-flex dateSectionMat">
            <div class="col-md-6">
              <button
                type="button"
                (click)="downloadPdf()"
                class="btn btn-success font-weight-bold"
              >
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                {{ field_name_hrms_project_pdf }}
              </button>
            </div>
            <div class="col-md-6">
              <button
                type="button"
                class="btn btn-info font-weight-bold"
                (click)="openAddTraining()"
              >
                <i class="fa fa-plus" aria-hidden="true"></i
                >{{ field_name_hrms_project_add_project }}
              </button>
            </div>
          </div>
          <div class="dateSection">
            <div class="col-md-6">
              <button
                type="button"
                class="btn btn-info font-weight-bold"
                (click)="openAddTraining()"
              >
                <i class="fa fa-plus" aria-hidden="true"></i
                >{{ field_name_hrms_project_add_project }}
              </button>
            </div>
          </div>
  
          <div class="d-flex dateSectionMat">
            <div class="col-md-6">
              <button
                type="button"
                (click)="generateCsv()"
                class="btn btn-success font-weight-bold"
              >
                <i class="fa fa-building-o" aria-hidden="true"></i>&nbsp;&nbsp;{{
                  field_name_hrms_project_csv
                }}
              </button>
            </div>
          </div>
        </div>

        <div class="card-body product-table p-t-35">
          <div class="table-responsive">
            <table
              id="contentToConvert"
              class="table table-striped"
              [mfData]="filteredTableDataArr"
              #mf="mfDataTable"
              [mfRowsOnPage]=""
            >
              <thead class="thead-light">
                <tr>
                  <th width="20%" (click)="sort('first_name')">
                    <mfDefaultSorter by="first_name">
                    {{field_name_hrms_project_name}}
                    </mfDefaultSorter>
                    <i class="fa fa-sort"></i>
                  </th>
                  <th width="20%" (click)="sort('last_name')">
                    <mfDefaultSorter by="last_name"
                      >{{field_name_hrms_project_description}}
                    </mfDefaultSorter>
                    <i class="fa fa-sort"></i>
                  </th>
                  <th width="20%" (click)="sort('email')">
                    <mfDefaultSorter by="email">{{field_name_hrms_project_team}} </mfDefaultSorter>
                    <i class="fa fa-sort"></i>
                  </th>

                  <th width="20%" *ngIf="SHOW_EDIT_DELETE">
                    <mfDefaultSorter>{{field_name_hrms_actons}}</mfDefaultSorter>
                  </th>
                </tr>
              </thead>

              <tbody *ngIf="mf.data?.length >= 1">
                <tr
                  *ngFor="
                    let obj of mf.data
                      | orderBy: key:reverse
                      | paginate
                        : {
                            itemsPerPage: 5,
                            currentPage: p,
                            totalItems: projectCount
                          };
                    let i = index
                  "
                >
                  <!--  <td>{{obj.user_id}}</td> -->
                  <td>{{ obj.project_name }}</td>

                  <td>{{ obj.project_description }}</td>
                  <td>{{ getEmployeeName(obj.project_team) }}</td>
                  <td *ngIf="SHOW_EDIT_DELETE">
                    <i class="fa fa-edit" (click)="onClickEdit(obj)"></i>

                    <span *ngIf="ALL_DELETE_ALLOWED"
                      ><i
                        (click)="onClickDelete(obj, p)"
                        class="fa fa-trash"
                      ></i
                    ></span>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="mf.data?.length <= 0">
                <tr class="odd" style="opacity: 1">
                  <td
                    valign="top"
                    colspan="8"
                    style="text-align: center"
                    class="dataTables_empty"
                  >
                    No data available in table
                  </td>
                </tr>
              </tbody>

              <tfoot>
                <tr *ngIf="mf.data?.length > 0">
                  <td colspan="4">
                    <pagination-controls
                      (pageChange)="pageChanged((p = $event))"
                    >
                    </pagination-controls>
                    <!--   <mfBootstrapPaginator  [rowsOnPageSet]="[]" ></mfBootstrapPaginator> -->
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </form>
  </div>

</section>
<section *ngIf="this._uiservice.langDataSource.value != 'ar'" dir="ltr">
  <div class="container-fluid">
    <form class="form-row" name="form" #f="ngForm">
      <div class="container-fluid">
        <form class="form-row dateSection" name="form" #f="ngForm">
          <div class="form-group row col-md-4">
            <label class="col-sm-3 col-form-label">
            {{field_name_hrms_project_fromdate}}<span class="text-danger font-weight-bold">
                *</span
              ></label
            >
            <div class="col-sm-8">
              <input
                type="date"
                class="form-control"
                max="{{ date | date: 'yyyy-MM-dd' }}"
                [(ngModel)]="model.fromDate"
                name="fromDate"
                #fromDate="ngModel"
                [ngClass]="{
                  'is-invalid': f.submitted && fromDate.invalid,
                  'is-valid': f.submitted && fromDate.valid
                }"
                required
              />

              <div
                *ngIf="f.submitted && fromDate.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="fromDate.errors.required">
                  Please provide fromDate
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row col-md-4">
            <label class="col-sm-3 col-form-label">
             {{field_name_hrms_project_todate}}<span class="text-danger font-weight-bold"> *</span></label
            >
            <div class="col-sm-8">
              <input
                type="date"
                class="form-control"
                [(ngModel)]="model.toDate"
                name="toDate"
                #toDate="ngModel"
                [ngClass]="{
                  'is-invalid': f.submitted && toDate.invalid,
                  'is-valid': f.submitted && toDate.valid
                }"
                required
              />
              <div
                *ngIf="f.submitted && toDate.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="toDate.errors.required">Please provide toDate</div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <button class="btn btn-success search-btn" (click)="filterData()">
              {{field_name_hrms_project_search}}
            </button>
          </div>
        </form>
        <form
        class="form-row dateSectionMat"
        name="form"
        #f="ngForm"
        (ngSubmit)="f.form.valid && filterData()"
      >
       <mat-form-field
          style="width: 110px; font-weight: bold"
        >
          <input
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="model.fromDate"
            name="fromDate"
            #fromDate="ngModel"
            [ngClass]="{
              'is-invalid': f.submitted && fromDate.invalid,
              'is-valid': f.submitted && fromDate.valid
            }"
            required
            placeholder={{field_name_hrms_project_fromdate}}
          />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div *ngIf="f.submitted && fromDate.invalid" class="invalid-feedback">
          <div *ngIf="fromDate.errors.required">Please provide fromDate</div>
        </div>
  
        <mat-form-field style="width: 93px; margin-left: 10px; font-weight: bold">
          <input
            matInput
            [matDatepicker]="picker1"
            [(ngModel)]="model.toDate"
            name="toDate"
            #toDate="ngModel"
            [ngClass]="{
              'is-invalid': f.submitted && toDate.invalid,
              'is-valid': f.submitted && toDate.valid
            }"
            required
            placeholder={{field_name_hrms_project_todate}}
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <div *ngIf="f.submitted && toDate.invalid" class="invalid-feedback">
          <div *ngIf="toDate.errors.required">Please provide toDate</div>
        </div>
        &nbsp;&nbsp;
        <div style="width: 105px">
          <button class="btn btn-success search-btn font-weight-bold">
            {{ field_name_hrms_project_search }}
          </button>
        </div>
      </form>
        <div class="row">
          <div class="col-md-3">
            <div
              class="form-group has-search dateSection"
              style="display: flex; align-items: center"
            >
              <input
                type="text"
                class="form-control"
                name="project_type"
                placeholder="Enter Project Name to search"
                autocomplete="off"
                [(ngModel)]="project_type"
                (ngModelChange)="searchData('clear')"
              />
              &nbsp;&nbsp;
              <button class="btn btn-success" (click)="searchData('search')">
                <i class="fa fa-search"></i> {{field_name_hrms_project_search}}
              </button>
            </div>
            <div
            class="form-group has-search dateSectionMat"
            style="display: flex; align-items: center"
          >
           <mat-form-field
              class="example-full-width"
              style="width: 200px; font-weight: bold"
            >
              <input
                matInput
                [(ngModel)]="project_type"
                name="project_type"
                (ngModelChange)="searchData('clear')"
                placeholder="Enter Project Name to search"
              />
            </mat-form-field>
            <button
              class="btn btn-success search-btn font-weight-bold"
              style="margin-left: 19px"
              (click)="searchData('search')"
            >
              {{ field_name_hrms_project_search }}
            </button>
           </div>
          </div>
          <div class="dateSection">
            <div class="col-sm-6">
              <button
                type="button"
                (click)="downloadPdf()"
                class="btn btn-success font-weight-bold"
              >
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                {{ field_name_hrms_project_pdf }}
              </button>
            </div>
            <div class="col-sm-6">
              <button
                type="button"
                (click)="generateCsv()"
                class="btn btn-success font-weight-bold"
              >
                <i class="fa fa-building-o" aria-hidden="true"></i
                >{{ field_name_hrms_project_csv }}
              </button>
            </div>
          </div>
  
          <div class="d-flex dateSectionMat">
            <div class="col-md-6">
              <button
                type="button"
                (click)="downloadPdf()"
                class="btn btn-success font-weight-bold"
              >
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                {{ field_name_hrms_project_pdf }}
              </button>
            </div>
            <div class="col-md-6">
              <button
                type="button"
                class="btn btn-info font-weight-bold"
                (click)="openAddTraining()"
              >
                <i class="fa fa-plus" aria-hidden="true"></i
                >{{ field_name_hrms_project_add_project }}
              </button>
            </div>
          </div>
          <div class="dateSection">
            <div class="col-md-6">
              <button
                type="button"
                class="btn btn-info font-weight-bold"
                (click)="openAddTraining()"
              >
                <i class="fa fa-plus" aria-hidden="true"></i
                >{{ field_name_hrms_project_add_project }}
              </button>
            </div>
          </div>
  
          <div class="d-flex dateSectionMat">
            <div class="col-md-6">
              <button
                type="button"
                (click)="generateCsv()"
                class="btn btn-success font-weight-bold"
              >
                <i class="fa fa-building-o" aria-hidden="true"></i>&nbsp;&nbsp;{{
                  field_name_hrms_project_csv
                }}
              </button>
            </div>
          </div>
          <!-- <div class="col-md-6">
            <button
              type="button"
              (click)="downloadPdf()"
              class="btn btn-success"
            >
              <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
              {{field_name_hrms_project_pdf}}
            </button>
            <button
              type="button"
              (click)="generateCsv()"
              class="btn btn-success"
            >
              <i class="fa fa-building-o" aria-hidden="true"></i>{{field_name_hrms_project_csv}}
            </button>
          </div>
          <div class="col-md-3" style="text-align: end">
            <button
              type="button"
              class="btn"
              (click)="openAddTraining()"
              class="btn btn-info"
            >
              <i class="fa fa-plus" aria-hidden="true"></i>{{field_name_hrms_project_add_project}}
            </button>
          </div> -->
        </div>

        <div class="card-body product-table p-t-35">
          <div class="table-responsive">
            <table
              id="contentToConvert"
              class="table table-striped"
              [mfData]="filteredTableDataArr"
              #mf="mfDataTable"
              [mfRowsOnPage]=""
            >
              <thead class="thead-light">
                <tr>
                  <th width="20%" (click)="sort('first_name')">
                    <mfDefaultSorter by="first_name">
                    {{field_name_hrms_project_name}}
                    </mfDefaultSorter>
                    <i class="fa fa-sort"></i>
                  </th>
                  <th width="20%" (click)="sort('last_name')">
                    <mfDefaultSorter by="last_name"
                      >{{field_name_hrms_project_description}}
                    </mfDefaultSorter>
                    <i class="fa fa-sort"></i>
                  </th>
                  <th width="20%" (click)="sort('email')">
                    <mfDefaultSorter by="email">{{field_name_hrms_project_team}} </mfDefaultSorter>
                    <i class="fa fa-sort"></i>
                  </th>

                  <th width="20%" *ngIf="SHOW_EDIT_DELETE">
                    <mfDefaultSorter>{{field_name_hrms_actons}}</mfDefaultSorter>
                  </th>
                </tr>
              </thead>

              <tbody *ngIf="mf.data?.length >= 1">
                <tr
                  *ngFor="
                    let obj of mf.data
                      | orderBy: key:reverse
                      | paginate
                        : {
                            itemsPerPage: 5,
                            currentPage: p,
                            totalItems: projectCount
                          };
                    let i = index
                  "
                >
                  <!--  <td>{{obj.user_id}}</td> -->
                  <td>{{ obj.project_name }}</td>

                  <td>{{ obj.project_description }}</td>
                  <td>{{ getEmployeeName(obj.project_team) }}</td>
                  <td *ngIf="SHOW_EDIT_DELETE">
                    <i class="fa fa-edit" (click)="onClickEdit(obj)"></i>

                    <span *ngIf="ALL_DELETE_ALLOWED"
                      ><i
                        (click)="onClickDelete(obj, p)"
                        class="fa fa-trash"
                      ></i
                    ></span>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="mf.data?.length <= 0">
                <tr class="odd" style="opacity: 1">
                  <td
                    valign="top"
                    colspan="8"
                    style="text-align: center"
                    class="dataTables_empty"
                  >
                    No data available in table
                  </td>
                </tr>
              </tbody>

              <tfoot>
                <tr *ngIf="mf.data?.length > 0">
                  <td colspan="4">
                    <pagination-controls
                      (pageChange)="pageChanged((p = $event))"
                    >
                    </pagination-controls>
                    <!--   <mfBootstrapPaginator  [rowsOnPageSet]="[]" ></mfBootstrapPaginator> -->
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
