<br />
<section *ngIf="this._uiservice.langDataSource.value == 'ar'" dir="rtl">
  <div class="container-fluid">
    <form class="form-row dateSection" name="form" #f="ngForm">
      <div class="form-group row col-md-4">
        <label class="col-sm-4 col-form-label">
          {{ field_name_customers_fromdate
          }}<span class="text-danger font-weight-bold"> *</span></label
        >
        <div class="col-sm-8">
          <input
            type="date"
            class="form-control"
            max="{{ date | date: 'yyyy-MM-dd' }}"
            [(ngModel)]="model.fromDate"
            name="fromDate"
            #fromDate="ngModel"
            [ngClass]="{
              'is-invalid': f.submitted && fromDate.invalid,
              'is-valid': f.submitted && fromDate.valid
            }"
            required
          />

          <div *ngIf="f.submitted && fromDate.invalid" class="invalid-feedback">
            <div *ngIf="fromDate.errors.required">Please provide fromDate</div>
          </div>
        </div>
      </div>
      <div class="form-group row col-md-4">
        <label class="col-sm-4 col-form-label">
          {{ field_name_customers_todate
          }}<span class="text-danger font-weight-bold"> *</span></label
        >
        <div class="col-sm-8">
          <input
            type="date"
            class="form-control"
            [(ngModel)]="model.toDate"
            name="toDate"
            #toDate="ngModel"
            [ngClass]="{
              'is-invalid': f.submitted && toDate.invalid,
              'is-valid': f.submitted && toDate.valid
            }"
            required
          />
          <div *ngIf="f.submitted && toDate.invalid" class="invalid-feedback">
            <div *ngIf="toDate.errors.required">Please provide toDate</div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <button class="btn btn-success search-btn" (click)="filterData()">
          {{ field_name_customers_search }}
        </button>
      </div>
    </form>
    <form
      class="form-row dateSectionMat"
      name="form"
      #f="ngForm"
      (ngSubmit)="f.form.valid && filterData()"
    >
      &nbsp;&nbsp;<mat-form-field
        style="width: 110px; margin-left: 10px; font-weight: bold"
      >
        <input
          matInput
          [matDatepicker]="picker"
          [(ngModel)]="model.fromDate"
          name="fromDate"
          #fromDate="ngModel"
          [ngClass]="{
            'is-invalid': f.submitted && fromDate.invalid,
            'is-valid': f.submitted && fromDate.valid
          }"
          required
          placeholder={{field_name_customers_fromdate}}
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div *ngIf="f.submitted && fromDate.invalid" class="invalid-feedback">
        <div *ngIf="fromDate.errors.required">Please provide fromDate</div>
      </div>

      <mat-form-field style="width: 93px; margin-left: 10px; font-weight: bold">
        <input
          matInput
          [matDatepicker]="picker1"
          [(ngModel)]="model.toDate"
          name="toDate"
          #toDate="ngModel"
          [ngClass]="{
            'is-invalid': f.submitted && toDate.invalid,
            'is-valid': f.submitted && toDate.valid
          }"
          required
          placeholder={{field_name_customers_todate}}
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <div *ngIf="f.submitted && toDate.invalid" class="invalid-feedback">
        <div *ngIf="toDate.errors.required">Please provide toDate</div>
      </div>
      &nbsp;&nbsp;
      <div style="width: 110px">
        <button class="btn btn-success search-btn font-weight-bold">
          {{ field_name_customers_search }}
        </button>
      </div>
    </form>
    <div class="col-md-12 col-lg-12">
      <div class="row">
        <div class="col-md-3">
          <div
            class="form-group has-search dateSection"
            style="display: flex; align-items: center"
          >
            <input
              type="text"
              class="form-control"
              name="first_name"
              placeholder="Enter First Name to search"
              autocomplete="off"
              [(ngModel)]="first_name"
              (ngModelChange)="searchData('clear')"
            />
            
            <button class="btn btn-success" (click)="searchData('search')">
              <i class="fa fa-search"></i> {{ field_name_customers_search }}
            </button>
          </div>
          <div
          class="form-group has-search dateSectionMat"
          style="display: flex; align-items: center"
        >
         <mat-form-field
            class="example-full-width"
            style="width: 200px; font-weight: bold"
          >
            <input
              matInput
              [(ngModel)]="first_name"
              name="first_name"
              (ngModelChange)="searchData('clear')"
              placeholder="Enter First Name to search"
            />
          </mat-form-field>
          <button
            class="btn btn-success search-btn font-weight-bold"
            style="margin-right: 80px"
            (click)="searchData('search')"
          >
            {{ field_name_customers_search }}
          </button>
         </div>
        </div>
        <div class="dateSection">
          <div class="col-sm-6">
            <button
              type="button"
              (click)="downloadPdf()"
              class="btn btn-success font-weight-bold"
            >
              <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
              {{ field_name_customers_pdf }}
            </button>
          </div>
          <div class="col-sm-6">
            <button
              type="button"
              (click)="generateCsv()"
              class="btn btn-success font-weight-bold"
            >
              <i class="fa fa-building-o" aria-hidden="true"></i
              >{{ field_name_customers_csv }}
            </button>
          </div>
        </div>
        <div class="d-flex dateSectionMat">
          <div class="col-md-6">
            <button
              type="button"
              (click)="downloadPdf()"
              class="btn btn-success font-weight-bold"
            >
              <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
              {{ field_name_customers_pdf }}
            </button>
          </div>
          <div class="col-md-6">
            <button
              type="button"
              class="btn btn-info font-weight-bold"
              routerLink="/sales/addcustomer"
            >
              <i class="fa fa-plus" aria-hidden="true"></i
              >{{ field_name_customers_addcustomers }}
            </button>
          </div>
        </div>
        <div class="dateSection">
          <div class="col-md-6">
            <button
              class="btn btn-primary font-weight-bold"
              data-toggle="modal"
              data-target="#csv"
            >
              {{ field_name_customers_btnuploadcsv }}
            </button>
          </div>
          <div class="col-md-6">
            <button
              type="button"
              class="btn btn-info font-weight-bold"
              routerLink="/helpdesk/addcustomer"
            >
              <i class="fa fa-plus" aria-hidden="true"></i
              >{{ field_name_customers_addcustomers }}
            </button>
          </div>
        </div>

        <div class="d-flex dateSectionMat">
          <div class="col-md-6">
            <button
              type="button"
              (click)="generateCsv()"
              class="btn btn-success font-weight-bold"
            >
              <i class="fa fa-building-o" aria-hidden="true"></i>&nbsp;&nbsp;{{
                field_name_customers_csv
              }}
            </button>
          </div>
          <div class="col-md-6">
            <button
              class="btn btn-primary font-weight-bold"
              data-toggle="modal"
              data-target="#csv"
            >
              {{ field_name_customers_btnuploadcsv }}
            </button>
          </div>
        </div>

        <!-- Modal for Display uploaded files -->
        <div
          class="modal fade"
          id="FileOpen"
          tabindex="-1"
          role="dialog"
          aria-labelledby="FileOpenLabel"
        >
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-body p-0">
                <img src="" alt="" style="width: 100%" />
              </div>
            </div>
          </div>
        </div>

        <!-- Modal for add new attachmenst files -->
        <div class="modal fade" id="csv" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">
                  {{ field_name_customers_upload_csv }}
                </h4>
              </div>
              <form class="needs-validation" novalidate>
                <div class="modal-body mt-2 mb-3">
                  <div class="row">
                    <div class="col-12 col-md-12">
                      <label for="file">
                        {{ field_name_customers_upload_files }}</label
                      >
                      <input
                        type="file"
                        name="file"
                        id="file"
                        class="form-control"
                        [ngClass]="invalid_file ? 'is-invalid' : 'is-valid'"
                        (change)="upload($event)"
                      />
                      <div class="invalid-feedback">
                        {{ field_name_customers_please_upload_csv }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    {{ "Cancel" | translate }}
                  </button>
                  <button
                    type="submit"
                    class="btn btn-primary saveBtn"
                    data-dismiss="modal"
                    (click)="save($event)"
                    [disabled]="invalid_file"
                  >
                    Upload Now
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <ng-template #helpservices let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Help & Services</h4>
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="accordion">
              <div class="card">
                <div class="card-header" id="heading-1">
                  <h5 class="mb-0">
                    <a
                      role="button"
                      data-toggle="collapse"
                      href="#collapse-1"
                      aria-expanded="true"
                      aria-controls="collapse-1"
                    >
                      Getting Started
                    </a>
                  </h5>
                </div>
                <div
                  id="collapse-1"
                  class="collapse show"
                  data-parent="#accordion"
                  aria-labelledby="heading-1"
                >
                  <div class="card-body">
                    <div id="accordion-1">
                      <div class="card">
                        <div class="card-header" id="heading-1-1">
                          <h5 class="mb-0">
                            <a
                              class="collapsed"
                              role="button"
                              data-toggle="collapse"
                              href="#collapse-1-1"
                              aria-expanded="false"
                              aria-controls="collapse-1-1"
                            >
                              Introduction to Ogoul CRM
                            </a>
                          </h5>
                        </div>
                        <div
                          id="collapse-1-1"
                          class="collapse"
                          data-parent="#accordion-1"
                          aria-labelledby="heading-1-1"
                        >
                          <div class="card-body">
                            Ogoul CRM software is envisioned to empower an
                            organization’s interaction with its current and
                            potential customers. It offers a single repository
                            of all the customer information to facilitate growth
                            through improved business relationships and
                            increased retentions. The Ogoul CRM Software has
                            multilingual support system. Easy user interface and
                            simplified layout is an added advantage. There are
                            Sales Automation, Marketing Automation and Services
                            Modules to improve productivity.

                            <a href="">Learn More</a>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="heading-1-2">
                          <h5 class="mb-0">
                            <a
                              class="collapsed"
                              role="button"
                              data-toggle="collapse"
                              href="#collapse-1-2"
                              aria-expanded="false"
                              aria-controls="collapse-1-2"
                            >
                              Ogoul CRM Features
                            </a>
                          </h5>
                        </div>
                        <div
                          id="collapse-1-2"
                          class="collapse"
                          data-parent="#accordion-1"
                          aria-labelledby="heading-1-2"
                        >
                          <div class="card-body">
                            <h6>Multilingual Support</h6>
                            The Ogoul CRM Software has multilingual support
                            system. It will initially be available in Arabic and
                            English Languages.

                            <h6>Lead management</h6>
                            Manage the entire process of converting prospects
                            into potential customers (leads) by identifying,
                            scoring, and moving leads through the sales
                            pipeline.

                            <h6>Report Management</h6>
                            Reporting show important insights on an
                            organization’s performances. Instrumental in taking
                            data driven decisions which can optimize marketing
                            and sales.

                            <a href="">Learn More</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading-2">
                  <h5 class="mb-0">
                    <a
                      class="collapsed"
                      role="button"
                      data-toggle="collapse"
                      href="#collapse-2"
                      aria-expanded="false"
                      aria-controls="collapse-2"
                    >
                      Help for This Page
                    </a>
                  </h5>
                </div>
                <div
                  id="collapse-2"
                  class="collapse"
                  data-parent="#accordion"
                  aria-labelledby="heading-2"
                >
                  <div class="card-body">
                    <div class="card">
                      <div class="card-header" id="heading-1-1-7">
                        <h5 class="mb-0">
                          <a
                            class="collapsed"
                            role="button"
                            data-toggle="collapse"
                            href="#collapse-1-1-7"
                            aria-expanded="false"
                            aria-controls="collapse-1-1-7"
                          >
                            Set Up Customers
                          </a>
                        </h5>
                      </div>
                      <div
                        id="collapse-1-1-7"
                        class="collapse"
                        data-parent="#accordion-1-1"
                        aria-labelledby="heading-1-1-7"
                      >
                        <div class="card-body">Set Up Customers Details</div>
                      </div>
                    </div>

                    <div class="card">
                      <div class="card-header" id="heading-1-1-8">
                        <h5 class="mb-0">
                          <a
                            class="collapsed"
                            role="button"
                            data-toggle="collapse"
                            href="#collapse-1-1-8"
                            aria-expanded="false"
                            aria-controls="collapse-1-1-8"
                          >
                            Manage Customers
                          </a>
                        </h5>
                      </div>
                      <div
                        id="collapse-1-1-8"
                        class="collapse"
                        data-parent="#accordion-1-1"
                        aria-labelledby="heading-1-1-8"
                      >
                        <div class="card-body">
                          View, Update, Customers Details
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading-3">
                  <h5 class="mb-0">
                    <a
                      class="collapsed"
                      role="button"
                      data-toggle="collapse"
                      href="#collapse-3"
                      aria-expanded="false"
                      aria-controls="collapse-3"
                    >
                      More Resources
                    </a>
                  </h5>
                </div>
                <div
                  id="collapse-3"
                  class="collapse"
                  data-parent="#accordion"
                  aria-labelledby="heading-3"
                >
                  <div class="card-body">
                    <div class="card">
                      <div class="card-header" id="heading-1-1-4">
                        <h5 class="mb-0">
                          <a
                            class="collapsed"
                            role="button"
                            data-toggle="collapse"
                            href="#collapse-1-1-4"
                            aria-expanded="false"
                            aria-controls="collapse-1-1-4"
                          >
                            Search Ogoul CRM Help
                          </a>
                        </h5>
                      </div>
                      <div
                        id="collapse-1-1-4"
                        class="collapse"
                        data-parent="#accordion-1-1"
                        aria-labelledby="heading-1-1-4"
                      >
                        <div class="card-body">Text 1 > 1 > 2</div>
                      </div>
                    </div>

                    <div class="card">
                      <div class="card-header" id="heading-1-1-5">
                        <h5 class="mb-0">
                          <a
                            class="collapsed"
                            role="button"
                            data-toggle="collapse"
                            href="#collapse-1-1-5"
                            aria-expanded="false"
                            aria-controls="collapse-1-1-5"
                          >
                            Get support
                          </a>
                        </h5>
                      </div>
                      <div
                        id="collapse-1-1-5"
                        class="collapse"
                        data-parent="#accordion-1-1"
                        aria-labelledby="heading-1-1-5"
                      >
                        <div class="card-body">Text 1 > 1 > 2</div>
                      </div>
                    </div>

                    <div class="card">
                      <div class="card-header" id="heading-1-1-6">
                        <h5 class="mb-0">
                          <a
                            class="collapsed"
                            role="button"
                            data-toggle="collapse"
                            href="#collapse-1-1-6"
                            aria-expanded="false"
                            aria-controls="collapse-1-1-6"
                          >
                            Provide Feedback
                          </a>
                        </h5>
                      </div>
                      <div
                        id="collapse-1-1-6"
                        class="collapse"
                        data-parent="#accordion-1-1"
                        aria-labelledby="heading-1-1-6"
                      >
                        <div class="card-body">Text 1 > 1 > 2</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer"></div>
        </ng-template>
      </div>
    </div>

    <div class="card-body product-table p-t-35">
      <div class="table-responsive">
        <table
          id="contentToConvert"
          class="table table-striped"
          [mfData]="filteredTableDataArr"
          #mf="mfDataTable"
        >
          <thead class="thead-light">
            <tr style="white-space: nowrap">
              <th width="20%" (click)="sort('first_name')">
                <mfDefaultSorter by="first_name">{{
                  field_name_customers_first_name
                }}</mfDefaultSorter>
                <i class="fa fa-sort"></i>
              </th>
              <th width="20%" (click)="sort('last_name')">
                <mfDefaultSorter by="last_name">{{
                  field_name_customers_last_name
                }}</mfDefaultSorter>
                <i class="fa fa-sort"></i>
              </th>
              <th width="20%" (click)="sort('email')">
                <mfDefaultSorter by="email">{{
                  field_name_customers_email
                }}</mfDefaultSorter>
                <i class="fa fa-sort"></i>
              </th>
              <th width="20%" (click)="sort('phone')">
                <mfDefaultSorter by="phone">{{
                  field_name_customers_phone
                }}</mfDefaultSorter>
                <i class="fa fa-sort"></i>
              </th>
              <th width="20%" *ngIf="SHOW_EDIT_DELETE">
                <mfDefaultSorter>{{
                  field_name_customers_actions
                }}</mfDefaultSorter>
              </th>
            </tr>
          </thead>

          <tbody *ngIf="mf.data?.length >= 1">
            <tr
              *ngFor="
                let obj of mf.data
                  | orderBy: key:reverse
                  | paginate
                    : {
                        itemsPerPage: 5,
                        currentPage: p,
                        totalItems: customerDetailsCount
                      };
                let i = index
              "
            >
              <td>{{ obj.first_name }}</td>

              <td>{{ obj.last_name }}</td>
              <td>{{ obj.email }}</td>
              <td>{{ obj.phone }}</td>
              <td *ngIf="SHOW_EDIT_DELETE">
                <i class="fa fa-edit" (click)="onClickEdit(obj)"></i>

                <span *ngIf="ALL_DELETE_ALLOWED"
                  ><i (click)="onClickDelete(obj, p)" class="fa fa-trash"></i
                ></span>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="mf.data?.length <= 0">
            <tr class="odd" style="opacity: 1">
              <td
                valign="top"
                colspan="8"
                style="text-align: center"
                class="dataTables_empty"
              >
                No data available in table
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4" *ngIf="mf.data?.length > 0">
                <pagination-controls
                  (pageChange)="pageChanged('schedule', (p = $event))"
                >
                </pagination-controls>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</section>

<br />

<section *ngIf="this._uiservice.langDataSource.value != 'ar'" dir="ltr">
  <div class="container-fluid">
    <form class="form-row dateSection" name="form" #f="ngForm">
      <div class="form-group row col-md-4">
        <label class="col-sm-4 col-form-label">
          {{ field_name_customers_fromdate
          }}<span class="text-danger font-weight-bold"> *</span></label
        >
        <div class="col-sm-8">
          <input
            type="date"
            class="form-control"
            max="{{ date | date: 'yyyy-MM-dd' }}"
            [(ngModel)]="model.fromDate"
            name="fromDate"
            #fromDate="ngModel"
            [ngClass]="{
              'is-invalid': f.submitted && fromDate.invalid,
              'is-valid': f.submitted && fromDate.valid
            }"
            required
          />

          <div *ngIf="f.submitted && fromDate.invalid" class="invalid-feedback">
            <div *ngIf="fromDate.errors.required">Please provide fromDate</div>
          </div>
        </div>
      </div>
      <div class="form-group row col-md-4">
        <label class="col-sm-4 col-form-label text-center">
          {{ field_name_customers_todate
          }}<span class="text-danger font-weight-bold"> *</span></label
        >
        <div class="col-sm-8">
          <input
            type="date"
            class="form-control"
            [(ngModel)]="model.toDate"
            name="toDate"
            #toDate="ngModel"
            [ngClass]="{
              'is-invalid': f.submitted && toDate.invalid,
              'is-valid': f.submitted && toDate.valid
            }"
            required
          />
          <div *ngIf="f.submitted && toDate.invalid" class="invalid-feedback">
            <div *ngIf="toDate.errors.required">Please provide toDate</div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <button class="btn btn-success search-btn" (click)="filterData()">
          {{ field_name_customers_search }}
        </button>
      </div>
    </form>
    <form
      class="form-row dateSectionMat"
      name="form"
      #f="ngForm"
      (ngSubmit)="f.form.valid && filterData()"
    >
      &nbsp;&nbsp;<mat-form-field
        style="width: 110px; margin-left: 10px; font-weight: bold"
      >
        <input
          matInput
          [matDatepicker]="picker"
          [(ngModel)]="model.fromDate"
          name="fromDate"
          #fromDate="ngModel"
          [ngClass]="{
            'is-invalid': f.submitted && fromDate.invalid,
            'is-valid': f.submitted && fromDate.valid
          }"
          required
          placeholder={{field_name_customers_fromdate}}
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div *ngIf="f.submitted && fromDate.invalid" class="invalid-feedback">
        <div *ngIf="fromDate.errors.required">Please provide fromDate</div>
      </div>

      <mat-form-field style="width: 93px; margin-left: 10px; font-weight: bold">
        <input
          matInput
          [matDatepicker]="picker1"
          [(ngModel)]="model.toDate"
          name="toDate"
          #toDate="ngModel"
          [ngClass]="{
            'is-invalid': f.submitted && toDate.invalid,
            'is-valid': f.submitted && toDate.valid
          }"
          required
          placeholder={{field_name_customers_todate}}
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <div *ngIf="f.submitted && toDate.invalid" class="invalid-feedback">
        <div *ngIf="toDate.errors.required">Please provide toDate</div>
      </div>
      &nbsp;&nbsp;
      <div style="width: 110px">
        <button class="btn btn-success search-btn font-weight-bold">
          {{ field_name_customers_search }}
        </button>
      </div>
    </form>

    <div class="col-md-12 col-lg-12">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <div
            class="form-group has-search dateSectionMat"
            style="display: flex; align-items: center"
          >
           <mat-form-field
              class="example-full-width"
              style="width: 200px; font-weight: bold"
            >
              <input
                matInput
                [(ngModel)]="first_name"
                name="first_name"
                (ngModelChange)="searchData('clear')"
                placeholder="Enter First Name to search"
              />
            </mat-form-field>
            <button
              class="btn btn-success search-btn font-weight-bold"
              style="margin-left: 42px"
              (click)="searchData('search')"
            >
              {{ field_name_customers_search }}
            </button>
           </div>
          <div
            class="form-group has-search dateSection"
            style="display: flex; align-items: center"
          >
            <input
              type="text"
              class="form-control"
              name="first_name"
              placeholder="Enter First Name to search"
              autocomplete="off"
              [(ngModel)]="first_name"
              (ngModelChange)="searchData('clear')"
            />
            <button class="btn btn-success" (click)="searchData('search')">
              <i class="fa fa-search"></i> {{ field_name_customers_search }}
            </button>
          </div>
          
        </div>
        <div class="dateSection">
          <div class="col-sm-6">
            <button
              type="button"
              (click)="downloadPdf()"
              class="btn btn-success font-weight-bold"
            >
              <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
              {{ field_name_customers_pdf }}
            </button>
          </div>
          <div class="col-sm-6">
            <button
              type="button"
              (click)="generateCsv()"
              class="btn btn-success font-weight-bold"
            >
              <i class="fa fa-building-o" aria-hidden="true"></i
              >{{ field_name_customers_csv }}
            </button>
          </div>
        </div>

        <div class="d-flex dateSectionMat">
          <div class="col-md-6">
            <button
              type="button"
              (click)="downloadPdf()"
              class="btn btn-success font-weight-bold"
            >
              <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
              {{ field_name_customers_pdf }}
            </button>
          </div>
          <div class="col-md-6">
            <button
              type="button"
              class="btn btn-info font-weight-bold"
              routerLink="/helpdesk/addcustomer"
            >
              <i class="fa fa-plus" aria-hidden="true"></i
              >{{ field_name_customers_addcustomers }}
            </button>
          </div>
        </div>
        <div class="dateSection">
          <div class="col-md-6">
            <button
              class="btn btn-primary font-weight-bold"
              data-toggle="modal"
              data-target="#csv"
            >
              {{ field_name_customers_btnuploadcsv }}
            </button>
          </div>
          <div class="col-md-6">
            <button
              type="button"
              class="btn btn-info font-weight-bold"
              routerLink="/helpdesk/addcustomer"
            >
              <i class="fa fa-plus" aria-hidden="true"></i
              >{{ field_name_customers_addcustomers }}
            </button>
          </div>
        </div>

        <div class="d-flex dateSectionMat">
          <div class="col-md-6">
            <button
              type="button"
              (click)="generateCsv()"
              class="btn btn-success font-weight-bold"
            >
              <i class="fa fa-building-o" aria-hidden="true"></i>&nbsp;&nbsp;{{
                field_name_customers_csv
              }}
            </button>
          </div>
          <div class="col-md-6">
            <button
              class="btn btn-primary font-weight-bold"
              data-toggle="modal"
              data-target="#csv"
            >
              {{ field_name_customers_btnuploadcsv }}
            </button>
          </div>
        </div>

        <!-- Modal for Display uploaded files -->
        <div
          class="modal fade"
          id="FileOpen"
          tabindex="-1"
          role="dialog"
          aria-labelledby="FileOpenLabel"
        >
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-body p-0">
                <img src="" alt="" style="width: 100%" />
              </div>
            </div>
          </div>
        </div>

        <!-- Modal for add new attachmenst files -->
        <div class="modal fade" id="csv" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">
                  {{ field_name_customers_upload_csv }}
                </h4>
              </div>
              <form class="needs-validation" novalidate>
                <div class="modal-body mt-2 mb-3">
                  <div class="row">
                    <div class="col-12 col-md-12">
                      <label for="file">
                        {{ field_name_customers_upload_files }}</label
                      >
                      <input
                        type="file"
                        name="file"
                        id="file"
                        class="form-control"
                        [ngClass]="invalid_file ? 'is-invalid' : 'is-valid'"
                        (change)="upload($event)"
                      />
                      <div class="invalid-feedback">
                        {{ field_name_customers_please_upload_csv }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    {{ "Cancel" | translate }}
                  </button>
                  <button
                    type="submit"
                    class="btn btn-primary saveBtn"
                    data-dismiss="modal"
                    (click)="save($event)"
                    [disabled]="invalid_file"
                  >
                    Upload Now
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <ng-template #helpservices let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Help & Services</h4>
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="accordion">
              <div class="card">
                <div class="card-header" id="heading-1">
                  <h5 class="mb-0">
                    <a
                      role="button"
                      data-toggle="collapse"
                      href="#collapse-1"
                      aria-expanded="true"
                      aria-controls="collapse-1"
                    >
                      Getting Started
                    </a>
                  </h5>
                </div>
                <div
                  id="collapse-1"
                  class="collapse show"
                  data-parent="#accordion"
                  aria-labelledby="heading-1"
                >
                  <div class="card-body">
                    <div id="accordion-1">
                      <div class="card">
                        <div class="card-header" id="heading-1-1">
                          <h5 class="mb-0">
                            <a
                              class="collapsed"
                              role="button"
                              data-toggle="collapse"
                              href="#collapse-1-1"
                              aria-expanded="false"
                              aria-controls="collapse-1-1"
                            >
                              Introduction to Ogoul CRM
                            </a>
                          </h5>
                        </div>
                        <div
                          id="collapse-1-1"
                          class="collapse"
                          data-parent="#accordion-1"
                          aria-labelledby="heading-1-1"
                        >
                          <div class="card-body">
                            Ogoul CRM software is envisioned to empower an
                            organization’s interaction with its current and
                            potential customers. It offers a single repository
                            of all the customer information to facilitate growth
                            through improved business relationships and
                            increased retentions. The Ogoul CRM Software has
                            multilingual support system. Easy user interface and
                            simplified layout is an added advantage. There are
                            Sales Automation, Marketing Automation and Services
                            Modules to improve productivity.

                            <a href="">Learn More</a>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="heading-1-2">
                          <h5 class="mb-0">
                            <a
                              class="collapsed"
                              role="button"
                              data-toggle="collapse"
                              href="#collapse-1-2"
                              aria-expanded="false"
                              aria-controls="collapse-1-2"
                            >
                              Ogoul CRM Features
                            </a>
                          </h5>
                        </div>
                        <div
                          id="collapse-1-2"
                          class="collapse"
                          data-parent="#accordion-1"
                          aria-labelledby="heading-1-2"
                        >
                          <div class="card-body">
                            <h6>Multilingual Support</h6>
                            The Ogoul CRM Software has multilingual support
                            system. It will initially be available in Arabic and
                            English Languages.

                            <h6>Lead management</h6>
                            Manage the entire process of converting prospects
                            into potential customers (leads) by identifying,
                            scoring, and moving leads through the sales
                            pipeline.

                            <h6>Report Management</h6>
                            Reporting show important insights on an
                            organization’s performances. Instrumental in taking
                            data driven decisions which can optimize marketing
                            and sales.

                            <a href="">Learn More</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading-2">
                  <h5 class="mb-0">
                    <a
                      class="collapsed"
                      role="button"
                      data-toggle="collapse"
                      href="#collapse-2"
                      aria-expanded="false"
                      aria-controls="collapse-2"
                    >
                      Help for This Page
                    </a>
                  </h5>
                </div>
                <div
                  id="collapse-2"
                  class="collapse"
                  data-parent="#accordion"
                  aria-labelledby="heading-2"
                >
                  <div class="card-body">
                    <div class="card">
                      <div class="card-header" id="heading-1-1-7">
                        <h5 class="mb-0">
                          <a
                            class="collapsed"
                            role="button"
                            data-toggle="collapse"
                            href="#collapse-1-1-7"
                            aria-expanded="false"
                            aria-controls="collapse-1-1-7"
                          >
                            Set Up Customers
                          </a>
                        </h5>
                      </div>
                      <div
                        id="collapse-1-1-7"
                        class="collapse"
                        data-parent="#accordion-1-1"
                        aria-labelledby="heading-1-1-7"
                      >
                        <div class="card-body">Set Up Customers Details</div>
                      </div>
                    </div>

                    <div class="card">
                      <div class="card-header" id="heading-1-1-8">
                        <h5 class="mb-0">
                          <a
                            class="collapsed"
                            role="button"
                            data-toggle="collapse"
                            href="#collapse-1-1-8"
                            aria-expanded="false"
                            aria-controls="collapse-1-1-8"
                          >
                            Manage Customers
                          </a>
                        </h5>
                      </div>
                      <div
                        id="collapse-1-1-8"
                        class="collapse"
                        data-parent="#accordion-1-1"
                        aria-labelledby="heading-1-1-8"
                      >
                        <div class="card-body">
                          View, Update, Customers Details
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading-3">
                  <h5 class="mb-0">
                    <a
                      class="collapsed"
                      role="button"
                      data-toggle="collapse"
                      href="#collapse-3"
                      aria-expanded="false"
                      aria-controls="collapse-3"
                    >
                      More Resources
                    </a>
                  </h5>
                </div>
                <div
                  id="collapse-3"
                  class="collapse"
                  data-parent="#accordion"
                  aria-labelledby="heading-3"
                >
                  <div class="card-body">
                    <div class="card">
                      <div class="card-header" id="heading-1-1-4">
                        <h5 class="mb-0">
                          <a
                            class="collapsed"
                            role="button"
                            data-toggle="collapse"
                            href="#collapse-1-1-4"
                            aria-expanded="false"
                            aria-controls="collapse-1-1-4"
                          >
                            Search Ogoul CRM Help
                          </a>
                        </h5>
                      </div>
                      <div
                        id="collapse-1-1-4"
                        class="collapse"
                        data-parent="#accordion-1-1"
                        aria-labelledby="heading-1-1-4"
                      >
                        <div class="card-body">Text 1 > 1 > 2</div>
                      </div>
                    </div>

                    <div class="card">
                      <div class="card-header" id="heading-1-1-5">
                        <h5 class="mb-0">
                          <a
                            class="collapsed"
                            role="button"
                            data-toggle="collapse"
                            href="#collapse-1-1-5"
                            aria-expanded="false"
                            aria-controls="collapse-1-1-5"
                          >
                            Get support
                          </a>
                        </h5>
                      </div>
                      <div
                        id="collapse-1-1-5"
                        class="collapse"
                        data-parent="#accordion-1-1"
                        aria-labelledby="heading-1-1-5"
                      >
                        <div class="card-body">Text 1 > 1 > 2</div>
                      </div>
                    </div>

                    <div class="card">
                      <div class="card-header" id="heading-1-1-6">
                        <h5 class="mb-0">
                          <a
                            class="collapsed"
                            role="button"
                            data-toggle="collapse"
                            href="#collapse-1-1-6"
                            aria-expanded="false"
                            aria-controls="collapse-1-1-6"
                          >
                            Provide Feedback
                          </a>
                        </h5>
                      </div>
                      <div
                        id="collapse-1-1-6"
                        class="collapse"
                        data-parent="#accordion-1-1"
                        aria-labelledby="heading-1-1-6"
                      >
                        <div class="card-body">Text 1 > 1 > 2</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <!--  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button> -->
          </div>
        </ng-template>
      </div>
    </div>

    <div class="card-body product-table p-t-35">
      <div class="table-responsive">
        <table
          id="contentToConvert"
          class="table table-striped"
          [mfData]="filteredTableDataArr"
          #mf="mfDataTable"
          [mfRowsOnPage]=""
        >
          <thead class="thead-light">
            <tr style="white-space: nowrap">
              <th width="20%" (click)="sort('first_name')">
                <mfDefaultSorter by="first_name">{{
                  field_name_customers_first_name
                }}</mfDefaultSorter>
                <i class="fa fa-sort"></i>
              </th>
              <th width="20%" (click)="sort('last_name')">
                <mfDefaultSorter by="last_name">{{
                  field_name_customers_last_name
                }}</mfDefaultSorter>
                <i class="fa fa-sort"></i>
              </th>
              <th width="20%" (click)="sort('email')">
                <mfDefaultSorter by="email">{{
                  field_name_customers_email
                }}</mfDefaultSorter>
                <i class="fa fa-sort"></i>
              </th>
              <th width="20%" (click)="sort('phone')">
                <mfDefaultSorter by="phone">{{
                  field_name_customers_phone
                }}</mfDefaultSorter>
                <i class="fa fa-sort"></i>
              </th>

              <th width="20%" *ngIf="SHOW_EDIT_DELETE">
                <mfDefaultSorter>{{
                  field_name_customers_actions
                }}</mfDefaultSorter>
              </th>
            </tr>
          </thead>
          <tbody *ngIf="mf.data?.length >= 1">
            <tr
              *ngFor="
                let obj of mf.data
                  | orderBy: key:reverse
                  | paginate
                    : {
                        itemsPerPage: 5,
                        currentPage: p,
                        totalItems: customerDetailsCount
                      };
                let i = index
              "
            >
              <td>{{ obj.first_name }}</td>

              <td>{{ obj.last_name }}</td>
              <td>{{ obj.email }}</td>
              <td>{{ obj.phone }}</td>
              <td *ngIf="SHOW_EDIT_DELETE">
                <i class="fa fa-edit" (click)="onClickEdit(obj)"></i>

                <span *ngIf="ALL_DELETE_ALLOWED"
                  ><i (click)="onClickDelete(obj, p)" class="fa fa-trash"></i
                ></span>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="mf.data?.length <= 0">
            <tr class="odd" style="opacity: 1">
              <td
                valign="top"
                colspan="8"
                style="text-align: center"
                class="dataTables_empty"
              >
                No data available in table
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4" *ngIf="mf.data?.length > 0">
                <pagination-controls
                  (pageChange)="pageChanged('schedule', (p = $event))"
                >
                </pagination-controls>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</section>
