

<section *ngIf="this._uiservice.langDataSource.value == 'ar'" dir='rtl' >


   
        <div class="row w-100">
          <div class="col-sm-4">
            <div class="card">
              
              <div class="card-body">
                <h5 class="card-title">
                  <img src="../../../../../assets/settings/user.png">
                  <a routerLink="/service/settings/userlist" class="txtclass">{{field_name_service_settings_user_management}}</a></h5>
                <p class="card-text">{{field_name_service_settings_user_management_headings}}</p>
              
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><i class="fa fa-history" aria-hidden="true"></i>
                  <a routerLink="/service/settings/history"  class="txtclass">{{field_name_service_settings_history}}</a></h5>
                <p class="card-text">

                  {{field_name_service_settings_history_heading}}</p>
              <!--   <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><i class="fa fa-history" aria-hidden="true"></i>
                  <a routerLink="/service/settings/dynamicsettings"  class="txtclass">{{field_name_service_settings_configuration_management}}</a></h5>
                <p class="card-text">{{field_name_service_settings_configuration_management_heading}}</p>
            
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><i class="fa fa-history" aria-hidden="true"></i> 
                   <a routerLink="/service/settings/editformfields"  class="txtclass" >{{field_name_service_settings_edit_form_fields}}</a></h5>
                <p class="card-text">

               {{field_name_service_settings_edit_form_fields_heading}}</p>
              <!--   <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><i class="fa fa-history" aria-hidden="true"></i> 
                   <a routerLink="/service/settings/editprofile"  class="txtclass" >{{field_name_service_settings_edit_profile}}</a></h5>
                <p class="card-text">{{field_name_service_settings_edit_profile_heading}}</p>
              <!--   <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
          </div>


          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><i class="fa fa-history" aria-hidden="true"></i> 
                   <a routerLink="/service/settings/changepassword"  class="txtclass" >{{field_name_service_settings_change_password}}</a></h5>
                <p class="card-text">{{field_name_service_settings_change_password_heading}}</p>
              <!--   <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
          </div>
        

      
  </div>

</section>







<section *ngIf="this._uiservice.langDataSource.value != 'ar'" dir='ltr' >
  


   
  <div class="row w-100" >
    <div class="col-sm-4">
      <div class="card">
        
        <div class="card-body">
          <h5 class="card-title">
            <img src="../../../../../assets/settings/user.png">
            <a routerLink="/service/settings/userlist" class="txtclass">{{field_name_service_settings_user_management}}</a></h5>
          <p class="card-text">{{field_name_service_settings_user_management_headings}}</p>
        
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><i class="fa fa-history" aria-hidden="true"></i>
            <a routerLink="/service/settings/history"  class="txtclass">{{field_name_service_settings_history}}</a></h5>
          <p class="card-text">

            {{field_name_service_settings_history_heading}}</p>
        <!--   <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><i class="fa fa-history" aria-hidden="true"></i>
            <a routerLink="/service/settings/dynamicsettings"  class="txtclass">{{field_name_service_settings_configuration_management}}</a></h5>
          <p class="card-text">{{field_name_service_settings_configuration_management_heading}}</p>
      
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><i class="fa fa-history" aria-hidden="true"></i> 
             <a routerLink="/service/settings/editformfields"  class="txtclass" >{{field_name_service_settings_edit_form_fields}}</a></h5>
          <p class="card-text">

         {{field_name_service_settings_edit_form_fields_heading}}</p>
        <!--   <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><i class="fa fa-history" aria-hidden="true"></i> 
             <a routerLink="/service/settings/editprofile"  class="txtclass" >{{field_name_service_settings_edit_profile}}</a></h5>
          <p class="card-text">{{field_name_service_settings_edit_profile_heading}}</p>
        <!--   <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>


    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><i class="fa fa-history" aria-hidden="true"></i> 
             <a routerLink="/service/settings/changepassword"  class="txtclass" >{{field_name_service_settings_change_password}}</a></h5>
          <p class="card-text">{{field_name_service_settings_change_password_heading}}</p>
        <!--   <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
  


</div>

</section>

























  

















