/*new css code start */


.lang-image{
	background-image: url('../../../assets/lang.png');
    background-position: center center;
    position: relative;
    z-index: 18;
    border-radius: 50%;
    overflow: hidden;
    width: 49px;
    height: 32px;
    margin-right: -60px;
    margin-top: -34px;
    margin-left: -60px;
   
  
}
.az-header-primary{
    top: 0px;
    left: 0px;
  
 
    background: #F0F4FD 0% 0% no-repeat padding-box;
    opacity: 1;
    }
    .az-logo
    {
        margin-left: -310px;
        width: 109px;
        height: 79px;
        margin-top: 25px
    }

    .select-module
    {
        background: #F0F4FD 0% 0% no-repeat padding-box;
      }
    .select-module1{
        border-radius: 10px;
        opacity: 1;
        margin-left: -28%;
         text-align: left;
         font: normal normal bold 23px/32px Open Sans;
         letter-spacing: 0px;
         color: #FFFFFF;
         text-transform: capitalize;
         opacity: 1
    }
    #modules{
       background-color: #1415f2; 
       color: white !important;
    }
   .navbar{
   background-color:  #e8ecf8 !important;
   margin-top: 0px;
   /* margin-top: -18px; */
   }
  

.dashboard-icon1{

    margin-top: 0px;
     height: 20px;  
     margin-left: -15px;
    
    }
/* new css code end -------------------------------------------------------------- * /


/* old code start*/

#top-select-container{
    flex:.6;
    display: flex;
}
#top-select-container div{
    margin:8px;
}
.dropdown-toggle::after {
    border-top: 0.3em solid #a0a0a0;
}


.btn{
    color:#fff !important;
    margin-right:-18%;
    background: #0058D2 !important ;

}
@media only screen and (max-width: 600px) {
    .languageSelected {
        margin-top: 10px;
    }
    .mobileView{
        display:block;
    }
    .mainView{
        display:none;
    }
  
    
  }
  @media only screen and (min-width: 599px) {
    .languageSelected {
        margin-top: 10px;
    }
    .mobileView{
        display:none;
    }
    .mainView{
        display:block;
    }
  }

  .lang::before {
    position: absolute;
    content: "\f0ac";
    font-family: "FontAwesome";
    font-weight: 700;
    color: #0058D2;
    float: right;
    margin-block: 10px;
   
    margin: 17px -15px 0px -15px;
    z-index: 1;
}

.navbar-toggler-icon{
    color:#0058D2 !important;
}

.custom-select {
    margin-top: 5px;
}

.navbar-nav {
   width: 100%;
   font-size: 18px;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color:blue
}