
<br>

<section *ngIf="this._uiservice.langDataSource.value == 'ar'" dir='rtl' >

<form class="form-row dateSection" name="form" #f="ngForm" >
  <div class="form-group row col-md-4">
      <label class="col-sm-3 col-form-label"> {{field_name_add_expense_fromdate}}<span
        class="text-danger font-weight-bold">
        *</span></label>
        <div class="col-sm-8">
          <input type="date" class="form-control"  max="{{date | date:'yyyy-MM-dd'}}" [(ngModel)]="model.fromDate"  name="fromDate" #fromDate="ngModel"

          [ngClass]="{ 'is-invalid': f.submitted && fromDate.invalid, 
            'is-valid': f.submitted && fromDate.valid }"
           required>
        
           <div *ngIf="f.submitted && fromDate.invalid" class="invalid-feedback">
               <div *ngIf="fromDate.errors.required">Please provide fromDate</div>
            
          
           </div> 
      </div>
    </div>
    <div class="form-group row col-md-4">
      <label class="col-sm-3 col-form-label"> {{field_name_add_expense_todate}}<span
        class="text-danger font-weight-bold">
        *</span></label>
        <div class="col-sm-8">
          <input type="date" class="form-control" max="{{date | date:'yyyy-MM-dd'}}" [(ngModel)]="model.toDate"  name="toDate" #toDate="ngModel"

          [ngClass]="{ 'is-invalid': f.submitted && toDate.invalid, 
            'is-valid': f.submitted && toDate.valid }"
           required>
        
           <div *ngIf="f.submitted && toDate.invalid" class="invalid-feedback">
               <div *ngIf="toDate.errors.required">Please provide toDate</div>
            
          
           </div> 
           
      </div>
    </div>
    <div class="col-md-2">
          <button class="btn btn-success search-btn" (click)="filterData()">{{field_name_add_expense_search}}</button>
         
      </div>
    </form>
    <form
    class="form-row dateSectionMat"
    name="form"
    #f="ngForm"
    (ngSubmit)="f.form.valid && filterData()"
  >
    &nbsp;&nbsp;<mat-form-field
      style="width: 110px; margin-left: 10px; font-weight: bold"
    >
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="model.fromDate"
        name="fromDate"
        #fromDate="ngModel"
        [ngClass]="{
          'is-invalid': f.submitted && fromDate.invalid,
          'is-valid': f.submitted && fromDate.valid
        }"
        required
        placeholder={{field_name_add_expense_fromdate}}
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div *ngIf="f.submitted && fromDate.invalid" class="invalid-feedback">
      <div *ngIf="fromDate.errors.required">Please provide fromDate</div>
    </div>

    <mat-form-field style="width: 93px; margin-left: 10px; font-weight: bold">
      <input
        matInput
        [matDatepicker]="picker1"
        [(ngModel)]="model.toDate"
        name="toDate"
        #toDate="ngModel"
        [ngClass]="{
          'is-invalid': f.submitted && toDate.invalid,
          'is-valid': f.submitted && toDate.valid
        }"
        required
        placeholder={{field_name_add_expense_todate}}
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="picker1"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <div *ngIf="f.submitted && toDate.invalid" class="invalid-feedback">
      <div *ngIf="toDate.errors.required">Please provide toDate</div>
    </div>
    &nbsp;&nbsp;
    <div style="width: 110px">
      <button class="btn btn-success search-btn font-weight-bold">
        {{ field_name_add_expense_search }}
      </button>
    </div>
  </form>
<div class="col-md-12 col-lg-12">
  <div class="row">
   
        <div class="col-md-3">
          <div class="form-group  has-search dateSection" style="display:flex;align-items:center">
            <!-- <span class="fa fa-search form-control-feedback"></span> -->
       <input type="text" class="form-control" name="expense_item" placeholder="Enter Expense Item to search"
         [(ngModel)]="expense_item" (ngModelChange)="searchData('clear')">
         <button class="btn btn-success" (click)="searchData('search')"><i class="fa fa-search" ></i> {{field_name_add_expense_search}}</button>
      </div>
      <div
      class="form-group has-search dateSectionMat"
      style="display: flex; align-items: center"
    >
     <mat-form-field
        class="example-full-width"
        style="width: 200px; font-weight: bold"
      >
        <input
          matInput
          [(ngModel)]="expense_item"
          name="expense_item"
          (ngModelChange)="searchData('clear')"
          placeholder="Enter First Name to search"
        />
      </mat-form-field>
      <button
        class="btn btn-success search-btn font-weight-bold"
        style="margin-right: 60px"
        (click)="searchData('search')"
      >
        {{ field_name_add_expense_search }}
      </button>
     </div>
      </div> 
    
      <div class="dateSection">
        <div class="col-sm-6">
          <button
            type="button"
            (click)="downloadPdf()"
            class="btn btn-success font-weight-bold"
          >
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
            {{ field_name_add_expense_pdf }}
          </button>
        </div>
        <div class="col-sm-6">
          <button
            type="button"
            (click)="generateCsv()"
            class="btn btn-success font-weight-bold"
          >
            <i class="fa fa-building-o" aria-hidden="true"></i
            >{{ field_name_add_expense_csv }}
          </button>
        </div>
      </div>
  
      <div class="d-flex dateSectionMat">
        <div class="col-md-6">
          <button
            type="button"
            (click)="downloadPdf()"
            class="btn btn-success font-weight-bold"
          >
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
            {{ field_name_add_expense_pdf }}
          </button>
        </div>
        <div class="col-md-6">
          <button
            type="button"
            class="btn btn-info font-weight-bold"
            routerLink="/inventory/addexpense"
          >
            <i class="fa fa-plus" aria-hidden="true"></i
            >{{ field_name_add_expense_addadd_expense }}
          </button>
        </div>
      </div>
      <div class="dateSection">
        <!-- <div class="col-md-6">
          <button
            class="btn btn-primary font-weight-bold"
            data-toggle="modal"
            data-target="#csv"
          >
            {{ field_name_customers_btnuploadcsv }}
          </button>
        </div> -->
        <div class="col-md-6">
          <button
            type="button"
            class="btn btn-info font-weight-bold"
            routerLink="/inventory/addexpense"
          >
            <i class="fa fa-plus" aria-hidden="true"></i
            >{{ field_name_add_expense_addadd_expense }}
          </button>
        </div>
      </div>
  
      <div class="d-flex dateSectionMat">
        <div class="col-md-6">
          <button
            type="button"
            (click)="generateCsv()"
            class="btn btn-success font-weight-bold"
          >
            <i class="fa fa-building-o" aria-hidden="true"></i>&nbsp;&nbsp;{{
              field_name_add_expense_csv
            }}
          </button>
        </div>
        <!-- <div class="col-md-6">
          <button
            class="btn btn-primary font-weight-bold"
            data-toggle="modal"
            data-target="#csv"
          >
            {{ field_name_customers_btnuploadcsv }}
          </button>
        </div> -->
      </div>
    </div> 
</div>



  <!-- <div class="col-md-12">
  <div class="card" > 
    <i class="fa fa-calculator fa-3x" style="color: #57aeb6;"  aria-hidden="true">
  </i>
    <div class="card-body" style="margin-top: -66px;
    margin-left: 26px;">
      <h4>{{'Expenses' | translate}}</h4>
      <h5 class="card-title" style="margin-top: -66px;
      margin-left: -2px;">{{'ADD EXPENSES ITEM' | translate}}</h5>
    <div class="btn-toolbar text-center well1">
      <button type="button" class="btn btn-success btn-color btn-bg-color  col-xs-5 margin-left">
        <i class="fa fa-home" aria-hidden="true"></i>
        <a routerLink="/dashboard" routerLinkActive="active" class="routerlink" style="color: white;">{{'Home' | translate}}</a> 
      </button>
      <span >
        <button type="button" class="btn btn-success btn-color btn-bg-color col-xs-5 margin-left">
        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
        <a  routerLink="/sales/settings/dynamicsettings/addexpense" routerLinkActive="active" class="routerlink" style="color: white;"> {{'Add Expenses' | translate}}</a> 
      </button>
      </span> </div></div>
  </div>
  </div> -->
  

   
   <!--  <div class="container">

      <div class="row">
        <div class="col-4">
          <div class="input-group">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
            <input class="form-control search-input rounded-0 " placeholder="Search here" type="search"
              aria-label="Search" (keyup)='search($event.target.value)'>

          </div>
        </div>
    <div class="btn-toolbar text-center well" *ngIf="SHOW_ICONS">

      <button type="button" (click)="generateCsv()" class="btn btn-success  col-xs-5 margin-left">
        <i class="fa fa-building-o" aria-hidden="true"></i> CSV
      </button>
      <button type="button" (click)="downloadPdf()" class="btn btn-success   col-xs-5 margin-left">
        <i class="fa fa-file-pdf-o" aria-hidden="true" ></i> PDF
      </button>
      <button type="button"  (click)="exportToExcel()" class="btn btn-success  col-xs-5 margin-left">
        <i class="fa fa-table" aria-hidden="true"></i> Excel
      </button>
      <button type="button" (click)="exportToPrint()" class="btn btn-success btn-color btn-bg-color col-xs-5 margin-left">
        <i class="fa fa-print" aria-hidden="true"></i>{{'Print' | translate}}
      </button>
     
          
        </div>
   </div>
    </div> -->
    
    <div class="card-body product-table p-t-35" >
      
      <div class="table-responsive" >
        
        <table  id="contentToConvert" class="table" [mfData]="filteredTableDataArr" #mf="mfDataTable">
          <thead class="thead-light">
            <tr style="white-space: nowrap">
            <!--   <th width="20%">
                <mfDefaultSorter by="expense_id">Expenses Id</mfDefaultSorter>
              </th> -->
            
              <th width="20%" (click) ="sort('email')"> 
                <mfDefaultSorter by="email">{{field_name_add_expense_user_email}}</mfDefaultSorter>
                <i class="fa fa-sort"></i>
              </th>
              <th width="20%" (click) ="sort('expense_item')"> 
                <mfDefaultSorter by="expense_item">{{field_name_add_expense_add_expense_item}}</mfDefaultSorter>
                <i class="fa fa-sort"></i>
              </th>
              <th width="20%" (click) ="sort('amount')"> 
                <mfDefaultSorter by="amount">{{field_name_add_expense_amount}}</mfDefaultSorter>
                <i class="fa fa-sort"></i>
              </th>
              <th width="20%" (click) ="sort('date')"> 
                <mfDefaultSorter by="date">{{field_name_add_expense_date}}</mfDefaultSorter>
                <i class="fa fa-sort"></i>
              </th>
             
             <!--  <th width="20%">
                <mfDefaultSorter by="files">{{field_name_add_expense_upload_files}}</mfDefaultSorter>
              </th> -->
              <th width="20%" *ngIf="SHOW_EDIT_DELETE">
                {{field_name_add_expense_actions}}
              </th>
            </tr>
          </thead>
          <tbody *ngIf="mf.data?.length >= 1">
            <tr *ngFor="let obj of mf.data | orderBy: key: reverse | paginate: {itemsPerPage:5,currentPage:p,totalItems:expensesDetailsCount}; let i = index" >
              <td>{{obj.email}}</td>
              
              <td>{{obj.expense_item}}</td>
              <td>{{obj.amount}}</td>
            
              <td>{{obj.date}}</td>
            <!--   <td><img [src]="obj.files" style="height: 50px;width: 50px; border-radius: 50%;"> </td>
             -->
             
              
              <td *ngIf="SHOW_EDIT_DELETE">
             
                <i class="fa fa-edit" (click)="onClickEdit(obj)"></i> 
  
                  <span *ngIf="ALL_DELETE_ALLOWED"><i (click)="onClickDelete(obj)" class="fa fa-trash"></i></span>
            </td>
            </tr>
          </tbody>
          <tbody *ngIf="mf.data?.length <= 0">
            <tr class="odd" style="opacity: 1;">
              <td valign="top" colspan="8" style="text-align: center;" class="dataTables_empty">No data
                available
                in table</td>
            </tr>
          </tbody>
          <tfoot>
            <tr *ngIf="mf.data?.length > 0">
              <td colspan="4">
                <pagination-controls (pageChange)="pageChanged('schedule', (p = $event))">
                          
                </pagination-controls>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
</section>






<br>

<section *ngIf="this._uiservice.langDataSource.value != 'ar'" dir='ltr' >

<form class="form-row dateSection" name="form" #f="ngForm" >
  <div class="form-group row col-md-4">
      <label class="col-sm-3 col-form-label"> {{field_name_add_expense_fromdate}}<span
        class="text-danger font-weight-bold">
        *</span></label>
        <div class="col-sm-8">
          <input type="date" class="form-control"  max="{{date | date:'yyyy-MM-dd'}}" [(ngModel)]="model.fromDate"  name="fromDate" #fromDate="ngModel"

          [ngClass]="{ 'is-invalid': f.submitted && fromDate.invalid, 
            'is-valid': f.submitted && fromDate.valid }"
           required>
        
           <div *ngIf="f.submitted && fromDate.invalid" class="invalid-feedback">
               <div *ngIf="fromDate.errors.required">Please provide fromDate</div>
            
          
           </div> 
      </div>
    </div>
    <div class="form-group row col-md-4">
      <label class="col-sm-3 col-form-label"> {{field_name_add_expense_todate}}<span
        class="text-danger font-weight-bold">
        *</span></label>
        <div class="col-sm-8">
          <input type="date" class="form-control" max="{{date | date:'yyyy-MM-dd'}}" [(ngModel)]="model.toDate"  name="toDate" #toDate="ngModel"

          [ngClass]="{ 'is-invalid': f.submitted && toDate.invalid, 
            'is-valid': f.submitted && toDate.valid }"
           required>
        
           <div *ngIf="f.submitted && toDate.invalid" class="invalid-feedback">
               <div *ngIf="toDate.errors.required">Please provide toDate</div>
            
          
           </div> 
           
      </div>
    </div>
    <div class="col-md-2">
          <button class="btn btn-success search-btn" (click)="filterData()">{{field_name_add_expense_search}}</button>
         
      </div>
    </form>
    <form
    class="form-row dateSectionMat"
    name="form"
    #f="ngForm"
    (ngSubmit)="f.form.valid && filterData()"
  >
    &nbsp;&nbsp;<mat-form-field
      style="width: 110px; margin-left: 10px; font-weight: bold"
    >
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="model.fromDate"
        name="fromDate"
        #fromDate="ngModel"
        [ngClass]="{
          'is-invalid': f.submitted && fromDate.invalid,
          'is-valid': f.submitted && fromDate.valid
        }"
        required
        placeholder={{field_name_add_expense_fromdate}}
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div *ngIf="f.submitted && fromDate.invalid" class="invalid-feedback">
      <div *ngIf="fromDate.errors.required">Please provide fromDate</div>
    </div>

    <mat-form-field style="width: 93px; margin-left: 10px; font-weight: bold">
      <input
        matInput
        [matDatepicker]="picker1"
        [(ngModel)]="model.toDate"
        name="toDate"
        #toDate="ngModel"
        [ngClass]="{
          'is-invalid': f.submitted && toDate.invalid,
          'is-valid': f.submitted && toDate.valid
        }"
        required
        placeholder={{field_name_add_expense_todate}}
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="picker1"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <div *ngIf="f.submitted && toDate.invalid" class="invalid-feedback">
      <div *ngIf="toDate.errors.required">Please provide toDate</div>
    </div>
    &nbsp;&nbsp;
    <div style="width: 110px">
      <button class="btn btn-success search-btn font-weight-bold">
        {{ field_name_add_expense_search }}
      </button>
    </div>
  </form>
<div class="col-md-12 col-lg-12">
  <div class="row">
   
        <div class="col-md-3">
          <div class="form-group  has-search dateSection" style="display:flex;align-items:center">
            <!-- <span class="fa fa-search form-control-feedback"></span> -->
       <input type="text" class="form-control" name="expense_item" placeholder="Enter Expense Item to search"
         [(ngModel)]="expense_item" (ngModelChange)="searchData('clear')">
         <button class="btn btn-success" (click)="searchData('search')"><i class="fa fa-search" ></i> {{field_name_add_expense_search}}</button>
      </div>
      <div
      class="form-group has-search dateSectionMat"
      style="display: flex; align-items: center"
    >
     <mat-form-field
        class="example-full-width"
        style="width: 200px; font-weight: bold"
      >
        <input
          matInput
          [(ngModel)]="expense_item"
          name="expense_item"
          (ngModelChange)="searchData('clear')"
          placeholder="Enter First Name to search"
        />
      </mat-form-field>
      <button
        class="btn btn-success search-btn font-weight-bold"
        style="margin-left: 42px"
        (click)="searchData('search')"
      >
        {{ field_name_add_expense_search }}
      </button>
     </div>
      </div> 
    
     <!-- <div class="col-sm-1">
        <button type="button" (click)="downloadPdf()" class="btn btn-success">
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i> {{field_name_add_expense_pdf}}
          </button>
       </div> 
     <div class="col-sm-1">
     <button type="button" (click)="generateCsv()" class="btn btn-success">
      <i class="fa fa-building-o" aria-hidden="true"></i> {{field_name_add_expense_csv}}
      </button>
     </div>
     <div class="col-sm-2">
      <button type="button" class="btn btn-info"
      routerLink="/inventory/addexpense">  
      <i class="fa fa-plus" aria-hidden="true"></i>{{field_name_add_expense_addadd_expense}}</button>
    </div> -->

    <div class="dateSection">
      <div class="col-sm-6">
        <button
          type="button"
          (click)="downloadPdf()"
          class="btn btn-success font-weight-bold"
        >
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
          {{ field_name_add_expense_pdf }}
        </button>
      </div>
      <div class="col-sm-6">
        <button
          type="button"
          (click)="generateCsv()"
          class="btn btn-success font-weight-bold"
        >
          <i class="fa fa-building-o" aria-hidden="true"></i
          >{{ field_name_add_expense_csv }}
        </button>
      </div>
    </div>

    <div class="d-flex dateSectionMat">
      <div class="col-md-6">
        <button
          type="button"
          (click)="downloadPdf()"
          class="btn btn-success font-weight-bold"
        >
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
          {{ field_name_add_expense_pdf }}
        </button>
      </div>
      <div class="col-md-6">
        <button
          type="button"
          class="btn btn-info font-weight-bold"
          routerLink="/inventory/addexpense"
        >
          <i class="fa fa-plus" aria-hidden="true"></i
          >{{ field_name_add_expense_addadd_expense }}
        </button>
      </div>
    </div>
    <div class="dateSection">
      <!-- <div class="col-md-6">
        <button
          class="btn btn-primary font-weight-bold"
          data-toggle="modal"
          data-target="#csv"
        >
          {{ field_name_customers_btnuploadcsv }}
        </button>
      </div> -->
      <div class="col-md-6">
        <button
          type="button"
          class="btn btn-info font-weight-bold"
          routerLink="/inventory/addexpense"
        >
          <i class="fa fa-plus" aria-hidden="true"></i
          >{{ field_name_add_expense_addadd_expense }}
        </button>
      </div>
    </div>

    <div class="d-flex dateSectionMat">
      <div class="col-md-6">
        <button
          type="button"
          (click)="generateCsv()"
          class="btn btn-success font-weight-bold"
        >
          <i class="fa fa-building-o" aria-hidden="true"></i>&nbsp;&nbsp;{{
            field_name_add_expense_csv
          }}
        </button>
      </div>
      <!-- <div class="col-md-6">
        <button
          class="btn btn-primary font-weight-bold"
          data-toggle="modal"
          data-target="#csv"
        >
          {{ field_name_customers_btnuploadcsv }}
        </button>
      </div> -->
    </div>
    </div> 
</div>



  <!-- <div class="col-md-12">
  <div class="card" > 
    <i class="fa fa-calculator fa-3x" style="color: #57aeb6;"  aria-hidden="true">
  </i>
    <div class="card-body" style="margin-top: -66px;
    margin-left: 26px;">
      <h4>{{'Expenses' | translate}}</h4>
      <h5 class="card-title" style="margin-top: -66px;
      margin-left: -2px;">{{'ADD EXPENSES ITEM' | translate}}</h5>
    <div class="btn-toolbar text-center well1">
      <button type="button" class="btn btn-success btn-color btn-bg-color  col-xs-5 margin-left">
        <i class="fa fa-home" aria-hidden="true"></i>
        <a routerLink="/dashboard" routerLinkActive="active" class="routerlink" style="color: white;">{{'Home' | translate}}</a> 
      </button>
      <span >
        <button type="button" class="btn btn-success btn-color btn-bg-color col-xs-5 margin-left">
        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
        <a  routerLink="/sales/settings/dynamicsettings/addexpense" routerLinkActive="active" class="routerlink" style="color: white;"> {{'Add Expenses' | translate}}</a> 
      </button>
      </span> </div></div>
  </div>
  </div> -->
  

   
   <!--  <div class="container">

      <div class="row">
        <div class="col-4">
          <div class="input-group">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
            <input class="form-control search-input rounded-0 " placeholder="Search here" type="search"
              aria-label="Search" (keyup)='search($event.target.value)'>

          </div>
        </div>
    <div class="btn-toolbar text-center well" *ngIf="SHOW_ICONS">

      <button type="button" (click)="generateCsv()" class="btn btn-success  col-xs-5 margin-left">
        <i class="fa fa-building-o" aria-hidden="true"></i> CSV
      </button>
      <button type="button" (click)="downloadPdf()" class="btn btn-success   col-xs-5 margin-left">
        <i class="fa fa-file-pdf-o" aria-hidden="true" ></i> PDF
      </button>
      <button type="button"  (click)="exportToExcel()" class="btn btn-success  col-xs-5 margin-left">
        <i class="fa fa-table" aria-hidden="true"></i> Excel
      </button>
      <button type="button" (click)="exportToPrint()" class="btn btn-success btn-color btn-bg-color col-xs-5 margin-left">
        <i class="fa fa-print" aria-hidden="true"></i>{{'Print' | translate}}
      </button>
     
          
        </div>
   </div>
    </div> -->
    
    <div class="card-body product-table p-t-35" >
      
      <div class="table-responsive" >
        
        <table  id="contentToConvert" class="table" [mfData]="filteredTableDataArr" #mf="mfDataTable">
          <thead class="thead-light">
            <tr style="white-space: nowrap">
            <!--   <th width="20%">
                <mfDefaultSorter by="expense_id">Expenses Id</mfDefaultSorter>
              </th> -->
            
              <th width="20%" (click) ="sort('email')"> 
                <mfDefaultSorter by="email">{{field_name_add_expense_user_email}}</mfDefaultSorter>
                <i class="fa fa-sort"></i>
              </th>
              <th width="20%" (click) ="sort('expense_item')"> 
                <mfDefaultSorter by="expense_item">{{field_name_add_expense_add_expense_item}}</mfDefaultSorter>
                <i class="fa fa-sort"></i>
              </th>
              <th width="20%" (click) ="sort('amount')"> 
                <mfDefaultSorter by="amount">{{field_name_add_expense_amount}}</mfDefaultSorter>
                <i class="fa fa-sort"></i>
              </th>
              <th width="20%" (click) ="sort('date')"> 
                <mfDefaultSorter by="date">{{field_name_add_expense_date}}</mfDefaultSorter>
                <i class="fa fa-sort"></i>
              </th>
             
             <!--  <th width="20%">
                <mfDefaultSorter by="files">{{field_name_add_expense_upload_files}}</mfDefaultSorter>
              </th> -->
              <th width="20%" *ngIf="SHOW_EDIT_DELETE">
                {{field_name_add_expense_actions}}
              </th>
            </tr>
          </thead>
          <tbody *ngIf="mf.data?.length >= 1">
            <tr *ngFor="let obj of mf.data | orderBy: key: reverse | paginate: {itemsPerPage:5,currentPage:p,totalItems:expensesDetailsCount}; let i = index" >
              <td>{{obj.email}}</td>
              
              <td>{{obj.expense_item}}</td>
              <td>{{obj.amount}}</td>
            
              <td>{{obj.date}}</td>
            <!--   <td><img [src]="obj.files" style="height: 50px;width: 50px; border-radius: 50%;"> </td>
             -->
             
              
              <td *ngIf="SHOW_EDIT_DELETE">
             
                <i class="fa fa-edit" (click)="onClickEdit(obj)"></i> 
  
                  <span *ngIf="ALL_DELETE_ALLOWED"><i (click)="onClickDelete(obj)" class="fa fa-trash"></i></span>
            </td>
            </tr>
          </tbody>
          <tbody *ngIf="mf.data?.length <= 0">
            <tr class="odd" style="opacity: 1;">
              <td valign="top" colspan="8" style="text-align: center;" class="dataTables_empty">No data
                available
                in table</td>
            </tr>
          </tbody>
          <tfoot>
            <tr *ngIf="mf.data?.length > 0">
              <td colspan="4">
                <pagination-controls (pageChange)="pageChanged('schedule', (p = $event))">
                          
                </pagination-controls>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
</section>