<section *ngIf="this._uiservice.langDataSource.value == 'ar' && this.campaignstatusDetail" dir='rtl' >


<div class="button-page">
    <div class="row">
  
        <div class="col-sm-12">
        
                <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
                  <div *ngIf="f.form.invalid && f.submitted" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Campaign Status Details!</strong>The form has the following errors that need to be corrected
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                    <div class="card-header">
                        <h2> 
                            <span *ngIf="!isUpdate"></span> 
                            <span *ngIf="isUpdate">{{'Add New' |translate}}</span>
                        </h2>
                        </div>
                        <div class="card-body">
                            <!--  <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Category Id<span
                                  class="text-danger font-weight-bold">
                                  *</span></label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" [(ngModel)]="categoryDetail.category_id" name="category_id"
                                  required pattern="[a-zA-Z0-9]+" #category_id="ngModel"  
                                  [ngClass]="{ 'is-invalid': f.submitted && category_id.invalid, 
                                  'is-valid': f.submitted && category_id.valid }"
                                 required/>
                                 <div *ngIf="f.submitted && category_id.invalid" class="invalid-feedback">
                                  <div *ngIf="category_id.errors.required"> Please provide product id</div>
                               
                              <div *ngIf="category_id.errors.pattern">Id should be only in Alphanumeric
                                 </div>
                              </div>
                                </div>
                              </div>  -->
                            <div class="form-group row">
                              <label class="col-sm-2 col-form-label">{{'Campaign Status'|translate}}<span
                                  class="text-danger font-weight-bold">
                                  *</span></label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" [(ngModel)]="campaignstatusDetail.campaign_status" 
                                  name="campaign_status"
                                  required  pattern="^(?:[A-Za-z]+)(?:[A-Za-z _]*)$" #campaign_status="ngModel"  
                                  [ngClass]="{ 'is-invalid': f.submitted && campaign_status.invalid, 
                                  'is-valid': f.submitted && campaign_status.valid }"
                                 required/>
                                 <div *ngIf="f.submitted && campaign_status.invalid" class="invalid-feedback">
                                  <div *ngIf="campaign_status.errors.required"> Please provide Campaign Status</div>
                               
                              <div *ngIf="campaign_status.errors.pattern">Id should be only in Alphabets
                                 </div>
                              </div>
                                </div>
                              </div>
  
                              <div class="form-row">
                                <div class="form-group col-md-3">
                                  <label class="col-sm-5 col-form-label">{{'Created by'|translate}}
                                   
                                  </label>
                                  <div class="col-sm-10">
                                    <input type="text" class="form-control" name="created_by"
                                    [(ngModel)]="campaignstatusDetail.created_by"
                                    #created_by="ngModel" readonly>
                                </div>
                              </div>
                                <div class="form-group col-md-3">
                                  <label class="col-sm-5 col-form-label">{{'Created Time'|translate}}
                                    
                                  </label>
                                  <div class="col-sm-10">
                                   
                                
                                    <input type="text" class="form-control" name="created_time"  
                                     readonly value="{{campaignstatusDetail.created_time |  date : dateFormat:'GMT':locale}}">
                                     
                                  
                                  
                                </div>
                                </div>
                                <div class="form-group col-md-3">
                                  <label class="col-sm-5 col-form-label">{{'Updated by'|translate}}
                                   
                                  </label>
                                  <div class="col-sm-10">
                                    <input type="text" class="form-control" name="updated_by"
                                      [(ngModel)]="campaignstatusDetail.updated_by"
                                      #updated_by="ngModel" readonly>
                                </div>
                              </div>
                                <div class="form-group col-md-3">
                                  <label class="col-sm-5 col-form-label">{{'Updated Time'|translate}}
                                   
                                  </label>
                                  <div class="col-sm-10">
                                  
                                    <input type="text" class="form-control" name="modified_time"  
                                     readonly value=" {{campaignstatusDetail.modified_time |  date : dateFormat:'GMT':locale}}">
                                  
                                </div>
                              </div>
                                </div>  
                                <button class="btn btn-danger btn-round text-center pull-right" style=" margin-top: 73px;" type="button"
                                appCancelbutton>Cancel</button>
                                <button class="btn btn-success btn-round text-center pull-right" style=" margin-top: 73px;">
                                  <span *ngIf="!isUpdate">{{'Save'|translate}}</span>
                                  <span *ngIf="isUpdate">{{'Update'|translate}}</span></button>
                          
                                   
                            </div>
                </form>
           
            </div>
        </div></div>
      </section>




      <section *ngIf="this._uiservice.langDataSource.value != 'ar' && this.campaignstatusDetail" dir='ltr' >


        <div class="button-page">
            <div class="row">
          
                <div class="col-sm-12">
                
                        <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
                          <div *ngIf="f.form.invalid && f.submitted" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Campaign Status Details!</strong>The form has the following errors that need to be corrected
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                            <div class="card-header">
                                <h2> 
                                    <span *ngIf="!isUpdate"></span> 
                                    <span *ngIf="isUpdate">{{'Add New' |translate}}</span>
                                </h2>
                                </div>
                                <div class="card-body">
                                    <!--  <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Category Id<span
                                          class="text-danger font-weight-bold">
                                          *</span></label>
                                        <div class="col-sm-10">
                                          <input type="text" class="form-control" [(ngModel)]="categoryDetail.category_id" name="category_id"
                                          required pattern="[a-zA-Z0-9]+" #category_id="ngModel"  
                                          [ngClass]="{ 'is-invalid': f.submitted && category_id.invalid, 
                                          'is-valid': f.submitted && category_id.valid }"
                                         required/>
                                         <div *ngIf="f.submitted && category_id.invalid" class="invalid-feedback">
                                          <div *ngIf="category_id.errors.required"> Please provide product id</div>
                                       
                                      <div *ngIf="category_id.errors.pattern">Id should be only in Alphanumeric
                                         </div>
                                      </div>
                                        </div>
                                      </div>  -->
                                    <div class="form-group row">
                                      <label class="col-sm-2 col-form-label">{{'Campaign Status'|translate}}<span
                                          class="text-danger font-weight-bold">
                                          *</span></label>
                                        <div class="col-sm-10">
                                          <input type="text" class="form-control" [(ngModel)]="campaignstatusDetail.campaign_status" 
                                          name="campaign_status"
                                          required  pattern="^(?:[A-Za-z]+)(?:[A-Za-z _]*)$" #campaign_status="ngModel"  
                                          [ngClass]="{ 'is-invalid': f.submitted && campaign_status.invalid, 
                                          'is-valid': f.submitted && campaign_status.valid }"
                                         required/>
                                         <div *ngIf="f.submitted && campaign_status.invalid" class="invalid-feedback">
                                          <div *ngIf="campaign_status.errors.required"> Please provide Campaign Status</div>
                                       
                                      <div *ngIf="campaign_status.errors.pattern">Id should be only in Alphabets
                                         </div>
                                      </div>
                                        </div>
                                      </div>
          
                                      <div class="form-row">
                                        <div class="form-group col-md-3">
                                          <label class="col-sm-5 col-form-label">{{'Created by'|translate}}
                                           
                                          </label>
                                          <div class="col-sm-10">
                                            <input type="text" class="form-control" name="created_by"
                                            [(ngModel)]="campaignstatusDetail.created_by"
                                            #created_by="ngModel" readonly>
                                        </div>
                                      </div>
                                        <div class="form-group col-md-3">
                                          <label class="col-sm-5 col-form-label">{{'Created Time'|translate}}
                                            
                                          </label>
                                          <div class="col-sm-10">
                                           
                                        
                                            <input type="text" class="form-control" name="created_time"  
                                             readonly value="{{campaignstatusDetail.created_time |  date : dateFormat:'GMT':locale}}">
                                             
                                          
                                          
                                        </div>
                                        </div>
                                        <div class="form-group col-md-3">
                                          <label class="col-sm-5 col-form-label">{{'Updated by'|translate}}
                                           
                                          </label>
                                          <div class="col-sm-10">
                                            <input type="text" class="form-control" name="updated_by"
                                              [(ngModel)]="campaignstatusDetail.updated_by"
                                              #updated_by="ngModel" readonly>
                                        </div>
                                      </div>
                                        <div class="form-group col-md-3">
                                          <label class="col-sm-5 col-form-label">{{'Updated Time'|translate}}
                                           
                                          </label>
                                          <div class="col-sm-10">
                                          
                                            <input type="text" class="form-control" name="modified_time"  
                                             readonly value=" {{campaignstatusDetail.modified_time |  date : dateFormat:'GMT':locale}}">
                                          
                                        </div>
                                      </div>
                                        </div>  
                                        <button class="btn btn-danger btn-round text-center pull-right" style=" margin-top: 73px;" type="button"
                                        appCancelbutton>Cancel</button>
                                        <button class="btn btn-success btn-round text-center pull-right" style=" margin-top: 73px;">
                                          <span *ngIf="!isUpdate">{{'Save'|translate}}</span>
                                          <span *ngIf="isUpdate">{{'Update'|translate}}</span></button>
                                  
                                           
                                    </div>
                        </form>
                   
                    </div>
                </div></div>
              </section>