

   <section *ngIf="this._uiservice.langDataSource.value == 'ar'" dir='rtl' >
        <div class="row w-100">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  <a routerLink="/sales/products/categorylist"  class="txtclass">{{field_name_sales_dynamic_fields_product_category}}</a></h5>
                 
                <p class="card-text">{{field_name_sales_dynamic_fields_product_category_heading}}</p>
               <!--  <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><i class="fa fa-history" aria-hidden="true"></i>
                  <a routerLink="/sales/settings/dynamicsettings/pipelinesettinglist"  class="txtclass">
                  {{field_name_sales_dynamic_fields_pipeline}}</a></h5>
                <p class="card-text">{{field_name_sales_dynamic_fields_pipeline_heading}}</p>
              <!--   <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><i class="fa fa-history" aria-hidden="true"></i>
                  <a routerLink="/sales/settings/dynamicsettings/salesstagelist"  class="txtclass">{{field_name_sales_dynamic_fields_sales_stage}}</a></h5>
                <p class="card-text">{{field_name_sales_dynamic_fields_sales_stage_heading}}</p>
            
              </div>
          </div>
        </div>

          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><i class="fa fa-history" aria-hidden="true"></i>
                  <a routerLink="/sales/settings/dynamicsettings/leadsourcelist"  class="txtclass">{{field_name_sales_dynamic_fields_lead_source}}</a></h5>
                <p class="card-text">{{field_name_sales_dynamic_fields_lead_source_heading}}</p>
            
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><i class="fa fa-history" aria-hidden="true"></i>
                  <a routerLink="/sales/settings/dynamicsettings/sourcelist"  class="txtclass">{{field_name_sales_dynamic_fields_source}}</a></h5>
                <p class="card-text">{{field_name_sales_dynamic_fields_source_heading}}</p>
            
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><i class="fa fa-history" aria-hidden="true"></i>
                  <a routerLink="/sales/settings/dynamicsettings/departmentlist"  class="txtclass">{{field_name_sales_dynamic_fields_department}}</a></h5>
                <p class="card-text">{{field_name_sales_dynamic_fields_department_heading}}</p>
            
              </div>
            </div>
          </div>




          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><i class="fa fa-history" aria-hidden="true"></i>
                  <a routerLink="/sales/settings/dynamicsettings/expensesitemlist"  class="txtclass">{{field_name_sales_dynamic_fields_expenses_item}}</a></h5>
                <p class="card-text">{{field_name_sales_dynamic_fields_expenses_item}}</p>
            
              </div>
            </div>
          </div>

          
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><i class="fa fa-history" aria-hidden="true"></i>
                  <a routerLink="/sales/settings/dynamicsettings/suppliernamelist"  class="txtclass">{{field_name_sales_dynamic_fields_supplier}}</a></h5>
                <p class="card-text">{{field_name_sales_dynamic_fields_supplier_heading}}</p>
            
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><i class="fa fa-history" aria-hidden="true"></i>
                  <a routerLink="/sales/settings/dynamicsettings/currencylist"  class="txtclass">{{field_name_sales_dynamic_fields_currency}}</a></h5>
                <p class="card-text">{{field_name_sales_dynamic_fields_currency_heading}}</p>
            
              </div>
            </div>
          </div>

      
  </div>

   </section>

   <section *ngIf="this._uiservice.langDataSource.value != 'ar'" dir='ltr' >
    <div class="row w-100">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fa fa-user" aria-hidden="true"></i>
              <a routerLink="/sales/products/categorylist"  class="txtclass">{{field_name_sales_dynamic_fields_product_category}}</a></h5>
             
            <p class="card-text">{{field_name_sales_dynamic_fields_product_category_heading}}</p>
           <!--  <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fa fa-history" aria-hidden="true"></i>
              <a routerLink="/sales/settings/dynamicsettings/pipelinesettinglist"  class="txtclass">
              {{field_name_sales_dynamic_fields_pipeline}}</a></h5>
            <p class="card-text">{{field_name_sales_dynamic_fields_pipeline_heading}}</p>
          <!--   <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fa fa-history" aria-hidden="true"></i>
              <a routerLink="/sales/settings/dynamicsettings/salesstagelist"  class="txtclass">{{field_name_sales_dynamic_fields_sales_stage}}</a></h5>
            <p class="card-text">{{field_name_sales_dynamic_fields_sales_stage_heading}}</p>
        
          </div>
      </div>
    </div>

      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fa fa-history" aria-hidden="true"></i>
              <a routerLink="/sales/settings/dynamicsettings/leadsourcelist"  class="txtclass">{{field_name_sales_dynamic_fields_lead_source}}</a></h5>
            <p class="card-text">{{field_name_sales_dynamic_fields_lead_source_heading}}</p>
        
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fa fa-history" aria-hidden="true"></i>
              <a routerLink="/sales/settings/dynamicsettings/sourcelist"  class="txtclass">{{field_name_sales_dynamic_fields_source}}</a></h5>
            <p class="card-text">{{field_name_sales_dynamic_fields_source_heading}}</p>
        
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fa fa-history" aria-hidden="true"></i>
              <a routerLink="/sales/settings/dynamicsettings/departmentlist"  class="txtclass">{{field_name_sales_dynamic_fields_department}}</a></h5>
            <p class="card-text">{{field_name_sales_dynamic_fields_department_heading}}</p>
        
          </div>
        </div>
      </div>




      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fa fa-history" aria-hidden="true"></i>
              <a routerLink="/sales/settings/dynamicsettings/expensesitemlist"  class="txtclass">{{field_name_sales_dynamic_fields_expenses_item}}</a></h5>
            <p class="card-text">{{field_name_sales_dynamic_fields_expenses_item}}</p>
        
          </div>
        </div>
      </div>

      
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fa fa-history" aria-hidden="true"></i>
              <a routerLink="/sales/settings/dynamicsettings/suppliernamelist"  class="txtclass">{{field_name_sales_dynamic_fields_supplier}}</a></h5>
            <p class="card-text">{{field_name_sales_dynamic_fields_supplier_heading}}</p>
        
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fa fa-history" aria-hidden="true"></i>
              <a routerLink="/sales/settings/dynamicsettings/currencylist"  class="txtclass">{{field_name_sales_dynamic_fields_currency}}</a></h5>
            <p class="card-text">{{field_name_sales_dynamic_fields_currency_heading}}</p>
        
          </div>
        </div>
      </div>
</div>

  </section>
     
























