<br>
<br>
  <div class="grey-bg container-fluid">
    <section id="minimal-statistics">
      <div class="row">
      <!--   <div class="col-12 mt-3 mb-1">
          <h4 class="text-uppercase">Minimal Statistics Cards</h4>
          <p>Statistics on minimal cards.</p>
        </div> -->
      </div>
      <div class="row">
        <div class="col-xl-3 col-sm-6 col-12"> 
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="icon-pencil primary font-large-2 float-left"></i>
                  </div>
                  <div class="media-body text-right">
                
                    <h3>{{totalusers}}</h3>
                   
                    <span>Registerd Users</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="icon-speech warning font-large-2 float-left"></i>
                  </div>
                  <div class="media-body text-right">
                    <h3>  </h3>
                  
                    <h3>{{totalcontactedusers}}</h3>
                    <span>Contacted Users</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="icon-graph success font-large-2 float-left"></i>
                  </div>
                  <div class="media-body text-right">
                   
                    <h3>{{totalrequesteddemo}}</h3>
                    <span>Requested Demo</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="icon-pointer danger font-large-2 float-left"></i>
                  </div>
                  <div class="media-body text-right">
                    <h3> </h3>
                 
                    <h3>{{totaltickets}}</h3>
                    <span>Tickets</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body text-left">
                  
                    <h3 class="danger">{{totalsurvey}}</h3>
                    <span>Surveys</span>
                  </div>
                  <div class="align-self-center">
                    <i class="icon-rocket danger font-large-2 float-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    
    
    </section>
    
   
  </div>

