

   
<section *ngIf="this._uiservice.langDataSource.value == 'ar'" dir='rtl' >



        <div class="row">
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">
                    <img src="../../../../../assets/settings/user.png">
                    <a routerLink="/inventory/settings/userlist" class="txtclass">{{field_name_inventory_settings_user_management}}</a></h5>
  
                  <p class="card-text">{{field_name_inventory_settings_user_management_headings}}</p>
              
                </div>
              </div>
            </div>
             <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">
                    <img src="../../../../../assets/settings/user.png">
                    <a class="txtclass" routerLink="/inventory/settings/history">{{field_name_inventory_settings_history}}</a></h5>
                  <p class="card-text">{{field_name_inventory_settings_history_heading}}</p>
              
                </div>
              </div>
            </div> 
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">
                    <img src="../../../../../assets/settings/user.png">
                    <a routerLink="/inventory/settings/editprofile" class="txtclass">{{field_name_inventory_settings_edit_profile }}</a></h5>
                    <p class="card-text">{{field_name_inventory_settings_edit_profile_heading}}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <img src="../../../../../assets/settings/user.png">
                 <a routerLink="/inventory/settings/editformfields"  class="txtclass" >{{field_name_inventory_settings_edit_form_fields}}</a></h5>
                <p class="card-text"> {{field_name_inventory_settings_edit_form_fields_heading}}</p>
  
              </div>
            </div>
          </div> 
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  <img src="../../../../../assets/settings/user.png">
                  <a routerLink="/inventory/settings/dynamicsettings" class="txtclass">{{field_name_inventory_settings_configuration_management }}</a></h5>
                  <p class="card-text">{{field_name_inventory_settings_configuration_management_heading}}</p>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  <i class="fa fa-history" aria-hidden="true"></i>
                  <a routerLink="/inventory/settings/changepassword" class="txtclass">{{field_name_inventory_settings_change_password}}</a></h5>
                <p class="card-text">{{field_name_inventory_settings_change_password_heading}}</p>
            
              </div>
            </div>
          </div>
 
    </div>
  </section>

  
<section *ngIf="this._uiservice.langDataSource.value != 'ar'" dir='ltr' >



  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <img src="../../../../../assets/settings/user.png">
            <a routerLink="/inventory/settings/userlist" class="txtclass">{{field_name_inventory_settings_user_management}}</a></h5>

          <p class="card-text">{{field_name_inventory_settings_user_management_headings}}</p>
      
        </div>
      </div>
    </div>
     <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <img src="../../../../../assets/settings/user.png">
            <a class="txtclass" routerLink="/inventory/settings/history">{{field_name_inventory_settings_history}}</a></h5>
          <p class="card-text">{{field_name_inventory_settings_history_heading}}</p>
      
        </div>
      </div>
    </div> 
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <img src="../../../../../assets/settings/user.png">
            <a routerLink="/inventory/settings/editprofile" class="txtclass">{{field_name_inventory_settings_edit_profile }}</a></h5>
            <p class="card-text">{{field_name_inventory_settings_edit_profile_heading}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        <img src="../../../../../assets/settings/user.png">
         <a routerLink="/inventory/settings/editformfields"  class="txtclass" >{{field_name_inventory_settings_edit_form_fields}}</a></h5>
        <p class="card-text"> {{field_name_inventory_settings_edit_form_fields_heading}}</p>

      </div>
    </div>
  </div> 
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <img src="../../../../../assets/settings/user.png">
          <a routerLink="/inventory/settings/dynamicsettings" class="txtclass">{{field_name_inventory_settings_configuration_management }}</a></h5>
          <p class="card-text">{{field_name_inventory_settings_configuration_management_heading}}</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <i class="fa fa-history" aria-hidden="true"></i>
          <a routerLink="/inventory/settings/changepassword" class="txtclass">{{field_name_inventory_settings_change_password}}</a></h5>
        <p class="card-text">{{field_name_inventory_settings_change_password_heading}}</p>
    
      </div>
    </div>
  </div>

</div>
</section>









  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  