<app-navbar></app-navbar>
<br><br><br><br>

    <div class="container">
   <div class="text-center">
       <div class="nav price-tabs" role="tablist">

        <a class="nav-link" href="#monthly" role="tab" data-toggle="tab">Monthly</a>
           <a class="nav-link active" href="#yearly" role="tab" data-toggle="tab">Annual</a>
           
       </div>
      
   </div>
   <div class="tab-content wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
       <div role="tabpanel" class="tab-pane fade show active" id="yearly">
           <div class="row justify-content-center">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mb-30" >
                 
                
                   <div class="price-item text-center">
                      
                       <div class="price-top mb-4">
                      
                           <h2 class=""><sub>Annual</sub>9<sup>USD</sup></h2>
                         <!--   <span class="text-capitalize"><sup>Annual</sup></span> -->
                           <h4 class="">Basic</h4>
                          
                       </div>
                       <div class="price-content mb-3">
                           <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left list-display list-checkmarks">
                               <li>
                                   <i class="zmdi zmdi-check mr-2"></i>
                                   <span class="c-black">Lorem ipsum don erun pas des dim</span>
                               </li>
                               <li>
                                   <i class="zmdi zmdi-check mr-2"></i>
                                   <span class="c-black">Lorem ipsum don erun pas des dim</span>
                               </li>
                               <li>
                                   <i class="zmdi zmdi-check mr-2"></i>
                                   <span class="c-black">Lorem ipsum don erun pas des dim</span>
                               </li>
                               <li>
                                <i class="zmdi zmdi-check mr-2"></i>
                                <span class="c-black">Lorem ipsum don erun pas des dim</span>
                            </li>
                            <li>
                                <i class="zmdi zmdi-check mr-2"></i>
                                <span class="c-black">Lorem ipsum don erun pas des dim</span>
                            </li>
                            <li>
                                <i class="zmdi zmdi-check mr-2"></i>
                                <span class="c-black">Lorem ipsum don erun pas des dim</span>
                            </li>
                             
                           </ul>
                           <a href="#" class="btn btn-custom">subscribe now</a>
                       </div>
                   </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mb-30" >
                   <div class="price-item text-center silver">
                    <div class="best-value">

                        <h5 class="mb-5 btn btn-silver" style="line-height: 25px;">Best Value</h5>
                         </div>
                    <div class="price-top mb-4">
                      
                        <h2 class=""><sub>Annual</sub>145<sup>USD</sup></h2>
                      <!--   <span class="text-capitalize"><sup>Annual</sup></span> -->
                        <h4 class="">Silver</h4>
                       
                    </div>
                       <div class="price-content mb-3">
                           <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left list-display list-checkmarks">
                               <li>
                                   <i class="zmdi zmdi-check mr-2"></i>
                                   <span class="c-black">Save Up to 25%</span>
                               </li>
                               <li>
                                   <i class="zmdi zmdi-check mr-2"></i>
                                   <span class="c-black">Lorem ipsum don erun pas des dim</span>
                               </li>
                               <li>
                                   <i class="zmdi zmdi-check mr-2"></i>
                                   <span class="c-black">Lorem ipsum don erun pas des dim</span>
                               </li>
                              
                           </ul>
                           <ul class=" text-left list-display 
                           list-cross">
                            <li>
                                <i class="zmdi zmdi-check mr-2"></i>
                                <span class="c-black">Save Up to 25%</span>
                            </li>
                            <li>
                                <i class="zmdi zmdi-check mr-2"></i>
                                <span class="c-black">Lorem ipsum don erun pas des dim</span>
                            </li>
                            <li>
                                <i class="zmdi zmdi-check mr-2"></i>
                                <span class="c-black">Lorem ipsum don erun pas des dim</span>
                            </li>
                          
                        </ul>
                           <a href="#" class="btn btn-silver">subscribe now</a>
                       </div>
                   </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mb-30" >
                   <div class="price-item text-center">
                    <div class="price-top mb-4">
                      
                        <h2 class=""><sub>Annual</sub>199<sup>USD</sup></h2>
                      <!--   <span class="text-capitalize"><sup>Annual</sup></span> -->
                        <h4 class="">Golden</h4>
                       
                    </div>
                       <div class="price-content mb-3">
                           <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left list-display list-checkmarks">
                               <li>
                                   <i class="zmdi zmdi-check mr-2"></i>
                                   <span class="c-black">Lorem ipsum don erun pas des dim</span>
                               </li>
                               <li>
                                   <i class="zmdi zmdi-check mr-2"></i>
                                   <span class="c-black">Lorem ipsum don erun pas des dim</span>
                               </li>
                               <li>
                                   <i class="zmdi zmdi-check mr-2"></i>
                                   <span class="c-black">Lorem ipsum don erun pas des dim</span>
                               </li>

                               <li>
                                <i class="zmdi zmdi-check mr-2"></i>
                                <span class="c-black">Lorem ipsum don erun pas des dim</span>
                            </li>
                            <li>
                                <i class="zmdi zmdi-check mr-2"></i>
                                <span class="c-black">Lorem ipsum don erun pas des dim</span>
                            </li>
                            <li>
                                <i class="zmdi zmdi-check mr-2"></i>
                                <span class="c-black">Lorem ipsum don erun pas des dim</span>
                            </li>
                               
                             
                           </ul>
                           <a href="#" class="btn btn-custom">subscribe now</a>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div role="tabpanel" class="tab-pane fade" id="monthly">
           <div class="row justify-content-center">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mb-30" >
                   <div class="price-item text-center">
                    <div class="price-top mb-4">
                      
                        <h2 class=""><sub>Monthly</sub>9<sup>USD</sup></h2>
                      <!--   <span class="text-capitalize"><sup>Annual</sup></span> -->
                        <h4 class="">Basic</h4>
                       
                    </div>
                       <div class="price-content mb-3">
                           <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left list-display list-checkmarks">
                               <li>
                                   <i class="zmdi zmdi-check mr-2"></i>
                                   <span class="c-black">Lorem ipsum don erun pas des dim</span>
                               </li>
                               <li>
                                   <i class="zmdi zmdi-check mr-2"></i>
                                   <span class="c-black">Lorem ipsum don erun pas des dim</span>
                               </li>
                               <li>
                                   <i class="zmdi zmdi-check mr-2"></i>
                                   <span class="c-black">Lorem ipsum don erun pas des dim</span>
                               </li>
                               <li>
                                <i class="zmdi zmdi-check mr-2"></i>
                                <span class="c-black">Lorem ipsum don erun pas des dim</span>
                            </li>
                          
                            <li>
                                <i class="zmdi zmdi-check mr-2"></i>
                                <span class="c-black">Lorem ipsum don erun pas des dim</span>
                            </li>
                          
                            <li>
                                <i class="zmdi zmdi-check mr-2"></i>
                                <span class="c-black">Lorem ipsum don erun pas des dim</span>
                            </li>

                          
                             
                           </ul>
                           <a href="#" class="btn btn-custom">subscribe now</a>
                       </div>
                   </div>
               </div>
               
             
               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mb-30" >
              
                   <div class="price-item text-center silver">
                   
                  <div class="best-value">

                 <h5 class="mb-5">Best Value</h5>
                  </div>
                    <div class="price-top mb-4">
                      
                        <h2 class=""><sub>Monthly</sub>9<sup>USD</sup></h2>
                      <!--   <span class="text-capitalize"><sup>Annual</sup></span> -->
                        <h4 class="">Silver</h4>
                       
                    </div>
                   
                    <div class="price-content mb-3">
                           <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left list-display list-checkmarks">
                               <li>
                                   <i class="zmdi zmdi-check mr-2"></i>
                                   <span class="c-black">Save Up to 25%</span>
                               </li>
                               <li>
                                   <i class="zmdi zmdi-check mr-2"></i>
                                   <span class="c-black">Lorem ipsum don erun pas des dim</span>
                               </li>
                               <li>
                                   <i class="zmdi zmdi-check mr-2"></i>
                                   <span class="c-black">Lorem ipsum don erun pas des dim</span>
                               </li>
                             
                           </ul>
                           <ul class=" text-left list-display 
                           list-cross">
                            <li>
                                <i class="zmdi zmdi-check mr-2"></i>
                                <span class="c-black">Save Up to 25%</span>
                            </li>
                            <li>
                                <i class="zmdi zmdi-check mr-2"></i>
                                <span class="c-black">Lorem ipsum don erun pas des dim</span>
                            </li>
                            <li>
                                <i class="zmdi zmdi-check mr-2"></i>
                                <span class="c-black">Lorem ipsum don erun pas des dim</span>
                            </li>
                          
                        </ul>
                           <a href="#" class="btn btn-silver">subscribe now</a>
                       </div>
                   </div>
               </div>

               
               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mb-30" >
                   <div class="price-item text-center">
                    <div class="price-top mb-4">
                      
                        <h2 class=""><sub>Monthly</sub>9<sup>USD</sup></h2>
                      <!--   <span class="text-capitalize"><sup>Annual</sup></span> -->
                        <h4 class="">Golden</h4>
                       
                    </div>
                    <div class="price-content mb-3">
                           <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left list-display list-checkmarks">
                               <li>
                                   <i class="zmdi zmdi-check mr-2"></i>
                                   <span class="c-black">Lorem ipsum don erun pas des dim</span>
                               </li>
                             
                             
                              
                               <li>
                                   <i class="zmdi zmdi-close mr-2"></i>
                                   <span> Vestibulum at eros</span>
                               </li>
                               <li>
                                   <i class="zmdi zmdi-close mr-2"></i>
                                   <span>Adipisci atque beatae</span>
                               </li>
                               <li>
                                <i class="zmdi zmdi-close mr-2"></i>
                                <span>Adipisci atque beatae</span>
                            </li>
                            <li>
                                <i class="zmdi zmdi-close mr-2"></i>
                                <span>Adipisci atque beatae</span>
                            </li>
                            <li>
                                <i class="zmdi zmdi-close mr-2"></i>
                                <span>Adipisci atque beatae</span>
                            </li>
                           </ul>
                           <a href="#" class="btn btn-custom">subscribe now</a>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>


<app-footer></app-footer>