<div class="root">
  <div class="board">
    <div class="board-wrapper">
      <div class="board-columns" cdkDropListGroup>
        <div class="board-column" *ngFor="let column of board.columns">
          <div class="column-title">
            {{ column.name }}
          </div>

          <div
            class="tasks-container"
            cdkDropList
            [cdkDropListData]="column.tasks"
            (cdkDropListDropped)="drop($event, column.index)"
            id="{{ column.tasks }}"
          >
            <div
              class="task"
              *ngFor="let item of column.tasks"
              cdkDrag
              (cdkDragReleased)="dragReleased($event)"
              (click)="showDetails(item.name)"
            >
              {{ item.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
