

<section *ngIf="this._uiservice.langDataSource.value == 'ar'" dir='rtl' >




    <br>
    
  <!--   <div class="form-row">
      <div class="form-group row col-md-4">
          <label class="col-sm-3 col-form-label"> {{'From Date' | translate}}<span
            class="text-danger font-weight-bold">
            *</span></label>
          <div class="col-sm-8">
              <input type="date" class="form-control" [(ngModel)]="fromDate" />
          </div>
        </div>
        <div class="form-group row col-md-4">
          <label class="col-sm-3 col-form-label"> {{'To Date' | translate}}<span
            class="text-danger font-weight-bold">
            *</span></label>
          <div class="col-sm-8">
              <input type="date" class="form-control" [(ngModel)]="toDate" />
         
          </div>
        </div>
        <div class="col-md-2">
              <button class="btn btn-success search-btn" (click)="filterData()">{{'Search' | translate}}</button>
             
          </div>
        </div> -->
    <div class="col-md-12 col-lg-12">
      <div class="row">
         <div class="col-sm-1">
            <!--     <label class="label-control">Rows on page</label> -->
                <select class="custom-select input-sm" [(ngModel)]="rowsOnPage">
                    <option [ngValue]="5">5</option>
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="15">15</option>
                </select>
            </div>
            <div class="col-md-2">
              <div class="form-group  has-search">
                <span class="fa fa-search form-control-feedback"></span>
           <input type="text" class="form-control" name="search" placeholder="Search Here" autocomplete="off" [(ngModel)]="searchText">
          </div>
          </div> 
       <!--   <div class="col-sm-1">
          <button type="button" (click)="exportToPrint()" class="btn btn-success">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Print
            </button>
         </div> 
         <div class="col-sm-1">
            <button type="button" (click)="downloadPdf()" class="btn btn-success">
              <i class="fa fa-file-pdf-o" aria-hidden="true"></i> pdf
              </button>
           </div> 
         <div class="col-sm-1">
         <button type="button" (click)="generateCsv()" class="btn btn-success">
          <i class="fa fa-building-o" aria-hidden="true"></i> CSV
          </button>
         </div>
         <div class="col-md-1">
          <button type="button" class="btn btn-info" 
          routerLink=""><i class="fa fa-upload" aria-hidden="true"></i>Import</button>
        </div> -->
        <!--  <div class="col-sm-1">
          <button type="button" class="btn btn-info" 
          routerLink="">  <i class="fa fa-arrows-h" aria-hidden="true"></i>Convert to Lead</button>
        </div> -->
         <div class="col-sm-2">
         
            <button type="button" class="btn btn-success btn-color btn-bg-color col-xs-5 margin-left">
            <i class="fa fa-plus-square-o" aria-hidden="true"></i>
            <a  routerLink="/sales/settings/dynamicsettings/status" routerLinkActive="active" 
            class="routerlink" style="color: white;">{{'Add Status'| translate}}</a> 
          </button>
        
        </div>
        </div> 
    </div>
       
    <div class="card-body product-table p-t-35">
      <div class="table-responsive">
        <table class="table" [mfData]="filteredTableDataArr" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
          <thead class="thead-light">
            <tr style="white-space: nowrap">
             <th width="20%">
                  <mfDefaultSorter by="">{{'SL NO'| translate}}</mfDefaultSorter>
                </th> 
         
              <th width="20%">
                <mfDefaultSorter by="status">{{'Status'| translate}}</mfDefaultSorter>
              </th>
              
          
              <th width="20%" *ngIf="SHOW_EDIT_DELETE">
               {{'Actions' |translate}} 
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of mf.data | orderBy: key: reverse | paginate: {itemsPerPage:5,currentPage:p}; let i = index" >
              <td>{{i+1}}</td>
              <td>{{obj.status}}</td>
            
               
            <td *ngIf="SHOW_EDIT_DELETE">
             
              <i class="fa fa-edit" (click)="onClickEdit(obj)"></i> 

                <span *ngIf="ALL_DELETE_ALLOWED"><i (click)="onClickDelete(obj)" class="fa fa-trash"></i></span>
          </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="">
                <mfBootstrapPaginator [rowsOnPageSet]="[]"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </section>


  

  <section *ngIf="this._uiservice.langDataSource.value != 'ar'" dir='ltr' >




  <br>
  
<!--   <div class="form-row">
    <div class="form-group row col-md-4">
        <label class="col-sm-3 col-form-label"> {{'From Date' | translate}}<span
          class="text-danger font-weight-bold">
          *</span></label>
        <div class="col-sm-8">
            <input type="date" class="form-control" [(ngModel)]="fromDate" />
        </div>
      </div>
      <div class="form-group row col-md-4">
        <label class="col-sm-3 col-form-label"> {{'To Date' | translate}}<span
          class="text-danger font-weight-bold">
          *</span></label>
        <div class="col-sm-8">
            <input type="date" class="form-control" [(ngModel)]="toDate" />
       
        </div>
      </div>
      <div class="col-md-2">
            <button class="btn btn-success search-btn" (click)="filterData()">{{'Search' | translate}}</button>
           
        </div>
      </div> -->
  <div class="col-md-12 col-lg-12">
    <div class="row">
       <div class="col-sm-1">
          <!--     <label class="label-control">Rows on page</label> -->
              <select class="custom-select input-sm" [(ngModel)]="rowsOnPage">
                  <option [ngValue]="5">5</option>
                  <option [ngValue]="10">10</option>
                  <option [ngValue]="15">15</option>
              </select>
          </div>
          <div class="col-md-2">
            <div class="form-group  has-search">
              <span class="fa fa-search form-control-feedback"></span>
         <input type="text" class="form-control" name="search" placeholder="Search Here" autocomplete="off" [(ngModel)]="searchText">
        </div>
        </div> 
     <!--   <div class="col-sm-1">
        <button type="button" (click)="exportToPrint()" class="btn btn-success">
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Print
          </button>
       </div> 
       <div class="col-sm-1">
          <button type="button" (click)="downloadPdf()" class="btn btn-success">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i> pdf
            </button>
         </div> 
       <div class="col-sm-1">
       <button type="button" (click)="generateCsv()" class="btn btn-success">
        <i class="fa fa-building-o" aria-hidden="true"></i> CSV
        </button>
       </div>
       <div class="col-md-1">
        <button type="button" class="btn btn-info" 
        routerLink=""><i class="fa fa-upload" aria-hidden="true"></i>Import</button>
      </div> -->
      <!--  <div class="col-sm-1">
        <button type="button" class="btn btn-info" 
        routerLink="">  <i class="fa fa-arrows-h" aria-hidden="true"></i>Convert to Lead</button>
      </div> -->
       <div class="col-sm-2">
       
          <button type="button" class="btn btn-success btn-color btn-bg-color col-xs-5 margin-left">
          <i class="fa fa-plus-square-o" aria-hidden="true"></i>
          <a  routerLink="/sales/settings/dynamicsettings/status" routerLinkActive="active" 
          class="routerlink" style="color: white;">{{'Add Status'| translate}}</a> 
        </button>
      
      </div>
      </div> 
  </div>
     
  <div class="card-body product-table p-t-35">
    <div class="table-responsive">
      <table class="table" [mfData]="filteredTableDataArr" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
        <thead class="thead-light">
          <tr style="white-space: nowrap">
           <th width="20%">
                <mfDefaultSorter by="">{{'SL NO'| translate}}</mfDefaultSorter>
              </th> 
       
            <th width="20%">
              <mfDefaultSorter by="status">{{'Status'| translate}}</mfDefaultSorter>
            </th>
            
        
            <th width="20%" *ngIf="SHOW_EDIT_DELETE">
             {{'Actions' |translate}} 
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of mf.data | orderBy: key: reverse | paginate: {itemsPerPage:5,currentPage:p}; let i = index" >
            <td>{{i+1}}</td>
            <td>{{obj.status}}</td>
          
             
          <td *ngIf="SHOW_EDIT_DELETE">
           
            <i class="fa fa-edit" (click)="onClickEdit(obj)"></i> 

              <span *ngIf="ALL_DELETE_ALLOWED"><i (click)="onClickDelete(obj)" class="fa fa-trash"></i></span>
        </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="">
              <mfBootstrapPaginator [rowsOnPageSet]="[]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>