
<section *ngIf="this._uiservice.langDataSource.value == 'ar'" dir='rtl' >
<app-navbar></app-navbar>
<br><br><br><br>
<div class="box">
    <div class="container">
     	<div class="row">
			<div class="col-lg-12">
				<h2 class="h2-heading">{{ogoul_services_hedding}}</h2>
			</div> <!-- end of col -->
			    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
                      <!--   <i class="fa fa-instagram fa-3x" aria-hidden="true"></i> -->
						<span>
							<img src="../../../assets/website/flat-color-icons_sales-performance.png">
						</span>
                        
						<div class="title">
							<h4>{{ogoul_services_one}}</h4>
						</div>
                        
						<div class="text">
							<span>
								{{ogoul_services_one_subheadding}}</span>
						</div>
                        
					
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
					    
						<span>
							<img src="../../../assets/website/Group 6-1.png">
						</span>
                    
						<div class="title">
							<h4>{{ogoul_services_two}}</h4>
						</div>
                        
						<div class="text">
							<span>
								{{ogoul_services_two_subheadding}}</span>
						</div>
                        
						
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
						<span>
							<img src="../../../assets/website/ri_customer-service-2-fill.png">
						</span>
                        
						<div class="title">
							<h4>{{ogoul_services_three}}</h4>
						</div>
                        
						<div class="text">
							<span>
								{{ogoul_services_three_subheadding}}</span>
						</div>
                        
					
                        
					 </div>
				</div>	 
				
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
						<span>
							<img src="../../../assets/website/logos_campaignmonitor-icon.png">
						</span>
                        
						<div class="title">
							<h4>{{ogoul_services_four}}</h4>
						</div>
                        
						<div class="text">
							<span>
								{{ogoul_services_four_subheadding}}</span>
						</div>
                        
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
					    
						<span>
							<img src="../../../assets/website/fluent_book-contacts-32-filled.png">
						</span>
                    
						<div class="title">
							<h4>{{ogoul_services_five}}</h4>
						</div>
                        
						<div class="text">
							<span>
								{{ogoul_services_five_subheadding}}</span>
						</div>
                        
					
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
						<span>
							<img src="../../../assets/website/simple-icons_googleadsense.png">
						</span>
                        
						<div class="title">
							<h4>{{ogoul_services_six}}</h4>
						</div>
                        
						<div class="text">
							<span>
								{{ogoul_services_six_subheadding}}</span>
						</div>
                        
						
                        
					 </div>
				</div>



           
                
		
		</div>		
    </div>
</div>

<div class="box">
    <div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
               
				<div class="box-part text-center">
					
					<span>
						<img src="../../../assets/website/ic_round-leaderboard.png">
					</span>
					
					<div class="title">
						<h4>{{ogoul_services_seven}}</h4>
					</div>
					
					<div class="text">
						<span>
						{{ogoul_services_seven_subheadding}}</span>
					</div>
					
					
					
				 </div>
			</div>
		 </div>
		 </div></div>


<app-footer></app-footer>
</section>



<section *ngIf="this._uiservice.langDataSource.value != 'ar'" dir='ltr' >
	<app-navbar></app-navbar>
<br><br><br><br>
<div class="box">
    <div class="container">
     	<div class="row">
			<div class="col-lg-12">
				<h2 class="h2-heading">{{ogoul_services_hedding}}</h2>
			</div> <!-- end of col -->
			    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
                      <!--   <i class="fa fa-instagram fa-3x" aria-hidden="true"></i> -->
						<span>
							<img src="../../../assets/website/flat-color-icons_sales-performance.png">
						</span>
                        
						<div class="title">
							<h4>{{ogoul_services_one}}</h4>
						</div>
                        
						<div class="text">
							<span>
								{{ogoul_services_one_subheadding}}</span>
						</div>
                        
					
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
					    
						<span>
							<img src="../../../assets/website/Group 6-1.png">
						</span>
                    
						<div class="title">
							<h4>{{ogoul_services_two}}</h4>
						</div>
                        
						<div class="text">
							<span>
								{{ogoul_services_two_subheadding}}</span>
						</div>
                        
						
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
						<span>
							<img src="../../../assets/website/ri_customer-service-2-fill.png">
						</span>
                        
						<div class="title">
							<h4>{{ogoul_services_three}}</h4>
						</div>
                        
						<div class="text">
							<span>
								{{ogoul_services_three_subheadding}}</span>
						</div>
                        
					
                        
					 </div>
				</div>	 
				
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
						<span>
							<img src="../../../assets/website/logos_campaignmonitor-icon.png">
						</span>
                        
						<div class="title">
							<h4>{{ogoul_services_four}}</h4>
						</div>
                        
						<div class="text">
							<span>
								{{ogoul_services_four_subheadding}}</span>
						</div>
                        
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
					    
						<span>
							<img src="../../../assets/website/fluent_book-contacts-32-filled.png">
						</span>
                    
						<div class="title">
							<h4>{{ogoul_services_five}}</h4>
						</div>
                        
						<div class="text">
							<span>
								{{ogoul_services_five_subheadding}}</span>
						</div>
                        
					
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
						<span>
							<img src="../../../assets/website/simple-icons_googleadsense.png">
						</span>
                        
						<div class="title">
							<h4>{{ogoul_services_six}}</h4>
						</div>
                        
						<div class="text">
							<span>
								{{ogoul_services_six_subheadding}}</span>
						</div>
                        
						
                        
					 </div>
				</div>



           
                
		
		</div>		
    </div>
</div>

<div class="box">
    <div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
               
				<div class="box-part text-center">
					
					<span>
						<img src="../../../assets/website/ic_round-leaderboard.png">
					</span>
					
					<div class="title">
						<h4>{{ogoul_services_seven}}</h4>
					</div>
					
					<div class="text">
						<span>
						{{ogoul_services_seven_subheadding}}</span>
					</div>
					
					
					
				 </div>
			</div>
		 </div>
		 </div></div>
<app-footer></app-footer>

	</section>
