

<section *ngIf="this._uiservice.langDataSource.value == 'ar'" dir='rtl' >
  <div class="button-page">
    <div class="row">
      <div class="col-sm-12">
        <form
          class="form-horizontal form-material"
          name="form"
          #f="ngForm"
          (ngSubmit)="f.form.valid && onSubmit()"
        >
          <div
            *ngIf="f.form.invalid && f.submitted"
            class="alert alert-danger alert-dismissible fade show"
            role="alert"
          >
            <strong>Organisation Info Details!</strong>The form has the following
            errors that need to be corrected
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-header">
            <h2>
              <span *ngIf="!isUpdate">{{
                field_name_hrms_organisationinfo_add_organisationinfo
              }}</span>
              <span *ngIf="isUpdate">{{ field_name_hrms_organisationinfo_update }}</span>
            </h2>
          </div>
          <div class="card-body">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label"
                >{{field_name_hrms_organisationinfo_name}}<span class="text-danger font-weight-bold">
                  *</span
                ></label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="organisationInfoDetail.orginfo_name"
                  name="orginfo_name"
                  required
                  pattern="^(?:[A-Za-z]+)(?:[A-Za-z _]*)$"
                  #orginfo_name="ngModel"
                  [ngClass]="{
                    'is-invalid': f.submitted && orginfo_name.invalid,
                    'is-valid': f.submitted && orginfo_name.valid
                  }"
                  required
                />
  
                <div *ngIf="showError != ''" class="alert alert-danger">
                  {{ showError }}
                </div>
                <div
                  *ngIf="f.submitted && orginfo_name.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="orginfo_name.errors.required">
                    Please provide Organisation Name
                  </div>
  
                  <div *ngIf="orginfo_name.errors.pattern">
                    Id should be only in Alphabets
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label"
                >{{field_name_hrms_organisationinfo_address}}<span class="text-danger font-weight-bold">
                  *</span
                ></label
              >
              <div class="col-sm-10">
                <textarea
                  
                  class="form-control"
                  [(ngModel)]="organisationInfoDetail.orginfo_address"
                  name="orginfo_address"
                  required
                  #orginfo_address="ngModel"
                  [ngClass]="{
                    'is-invalid': f.submitted && orginfo_address.invalid,
                    'is-valid': f.submitted && orginfo_address.valid
                  }"
                ></textarea>
  
               
                <div
                  *ngIf="f.submitted && orginfo_address.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="orginfo_address.errors.required">
                    Please provide Organisation Adderess
                  </div>
  
                  
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label"
                >{{field_name_hrms_organisationinfo_phone}}<span class="text-danger font-weight-bold">
                  *</span
                ></label
              >
              <div class="col-sm-10">
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="organisationInfoDetail.orginfo_mobile"
                  name="orginfo_mobile"
                  required
                  #orginfo_mobile="ngModel"
                  [ngClass]="{
                    'is-invalid': f.submitted && orginfo_mobile.invalid,
                    'is-valid': f.submitted && orginfo_mobile.valid
                  }"
                />
  
                <div
                  *ngIf="f.submitted && orginfo_mobile.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="orginfo_mobile.errors.required">
                    Please provide Mobile Number
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-3">
                <label class="col-sm-5 col-form-label"
                  >{{ field_name_hrms_organisationinfo_created_by }}
                </label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    name="created_by"
                    [(ngModel)]="organisationInfoDetail.created_by"
                    #created_by="ngModel"
                    readonly
                  />
                </div>
              </div>
              <div class="form-group col-md-3">
                <label class="col-sm-5 col-form-label"
                  >{{ field_name_hrms_organisationinfo_created_time }}
                </label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    name="created_time"
                    readonly
                    value="{{
                      organisationInfoDetail.created_time |  date : dateFormat:'GMT':locale
                    }}"
                  />
                </div>
              </div>
              <div class="form-group col-md-3">
                <label class="col-sm-5 col-form-label"
                  >{{ field_name_hrms_organisationinfo_updated_by }}
                </label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    name="updated_by"
                    [(ngModel)]="organisationInfoDetail.updated_by"
                    #updated_by="ngModel"
                    readonly
                  />
                </div>
              </div>
              <div class="form-group col-md-3">
                <label class="col-sm-5 col-form-label"
                  >{{ field_name_hrms_organisationinfo_updated_time }}
                </label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    name="modified_time"
                    readonly
                    value=" {{
                      organisationInfoDetail.modified_time |  date : dateFormat:'GMT':locale
                    }}"
                  />
                </div>
              </div>
            </div>
            <button class="btn btn-success btn-round">
              <span *ngIf="!isUpdate">{{ "Save" | translate }}</span>
              <span *ngIf="isUpdate">{{ "Update" | translate }}</span>
            </button>
  
            <button
              class="btn btn-danger btn-round"
              type="button"
              appCancelbutton
            >
              {{ "Cancel" | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
</section>





<section *ngIf="this._uiservice.langDataSource.value != 'ar'" dir='ltr' >
  <div class="button-page">
    <div class="row">
      <div class="col-sm-12">
        <form
          class="form-horizontal form-material"
          name="form"
          #f="ngForm"
          (ngSubmit)="f.form.valid && onSubmit()"
        >
          <div
            *ngIf="f.form.invalid && f.submitted"
            class="alert alert-danger alert-dismissible fade show"
            role="alert"
          >
            <strong>Organisation Info Details!</strong>The form has the following
            errors that need to be corrected
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-header">
            <h2>
              <span *ngIf="!isUpdate">{{
                field_name_hrms_organisationinfo_add_organisationinfo
              }}</span>
              <span *ngIf="isUpdate">{{ field_name_hrms_organisationinfo_update }}</span>
            </h2>
          </div>
          <div class="card-body">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label"
                >{{field_name_hrms_organisationinfo_name}}<span class="text-danger font-weight-bold">
                  *</span
                ></label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="organisationInfoDetail.orginfo_name"
                  name="orginfo_name"
                  required
                  pattern="^(?:[A-Za-z]+)(?:[A-Za-z _]*)$"
                  #orginfo_name="ngModel"
                  [ngClass]="{
                    'is-invalid': f.submitted && orginfo_name.invalid,
                    'is-valid': f.submitted && orginfo_name.valid
                  }"
                  required
                />
  
                <div *ngIf="showError != ''" class="alert alert-danger">
                  {{ showError }}
                </div>
                <div
                  *ngIf="f.submitted && orginfo_name.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="orginfo_name.errors.required">
                    Please provide Organisation Name
                  </div>
  
                  <div *ngIf="orginfo_name.errors.pattern">
                    Id should be only in Alphabets
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label"
                >{{field_name_hrms_organisationinfo_address}}<span class="text-danger font-weight-bold">
                  *</span
                ></label
              >
              <div class="col-sm-10">
                <textarea
                  
                  class="form-control"
                  [(ngModel)]="organisationInfoDetail.orginfo_address"
                  name="orginfo_address"
                  required
                  #orginfo_address="ngModel"
                  [ngClass]="{
                    'is-invalid': f.submitted && orginfo_address.invalid,
                    'is-valid': f.submitted && orginfo_address.valid
                  }"
                ></textarea>
  
               
                <div
                  *ngIf="f.submitted && orginfo_address.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="orginfo_address.errors.required">
                    Please provide Organisation Adderess
                  </div>
  
                  
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label"
                >{{field_name_hrms_organisationinfo_phone}}<span class="text-danger font-weight-bold">
                  *</span
                ></label
              >
              <div class="col-sm-10">
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="organisationInfoDetail.orginfo_mobile"
                  name="orginfo_mobile"
                  required
                  #orginfo_mobile="ngModel"
                  [ngClass]="{
                    'is-invalid': f.submitted && orginfo_mobile.invalid,
                    'is-valid': f.submitted && orginfo_mobile.valid
                  }"
                />
  
                <div
                  *ngIf="f.submitted && orginfo_mobile.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="orginfo_mobile.errors.required">
                    Please provide Mobile Number
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-3">
                <label class="col-sm-5 col-form-label"
                  >{{ field_name_hrms_organisationinfo_created_by }}
                </label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    name="created_by"
                    [(ngModel)]="organisationInfoDetail.created_by"
                    #created_by="ngModel"
                    readonly
                  />
                </div>
              </div>
              <div class="form-group col-md-3">
                <label class="col-sm-5 col-form-label"
                  >{{ field_name_hrms_organisationinfo_created_time }}
                </label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    name="created_time"
                    readonly
                    value="{{
                      organisationInfoDetail.created_time |  date : dateFormat:'GMT':locale
                    }}"
                  />
                </div>
              </div>
              <div class="form-group col-md-3">
                <label class="col-sm-5 col-form-label"
                  >{{ field_name_hrms_organisationinfo_updated_by }}
                </label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    name="updated_by"
                    [(ngModel)]="organisationInfoDetail.updated_by"
                    #updated_by="ngModel"
                    readonly
                  />
                </div>
              </div>
              <div class="form-group col-md-3">
                <label class="col-sm-5 col-form-label"
                  >{{ field_name_hrms_organisationinfo_updated_time }}
                </label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    name="modified_time"
                    readonly
                    value=" {{
                      organisationInfoDetail.modified_time |  date : dateFormat:'GMT':locale
                    }}"
                  />
                </div>
              </div>
            </div>
            <button class="btn btn-success btn-round">
              <span *ngIf="!isUpdate">{{ "Save" | translate }}</span>
              <span *ngIf="isUpdate">{{ "Update" | translate }}</span>
            </button>
  
            <button
              class="btn btn-danger btn-round"
              type="button"
              appCancelbutton
            >
              {{ "Cancel" | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  </section>
