<br>
<br>


<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <i class="fa fa-user" aria-hidden="true"></i>
          <a routerLink="/ogoul/settings/dynamicsettings/statuslist">{{'Status'|translate}}</a></h5>
         
        <p class="card-text">Configure "Status" field values here</p>
       <!--  <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <i class="fa fa-user" aria-hidden="true"></i>
          <a routerLink="/ogoul/settings/dynamicsettings/planslist">{{'Plans'|translate}}</a></h5>
         
        <p class="card-text">Configure "Status" field values here</p>
       <!--  <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>
  </div>


  