.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
  }
  .accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067"; 
  }
  
  .panel-body {
  box-shadow: none;
  }
  
  .panel-group .panel-heading {
  padding: 0;
  background:#145878;
  box-shadow: 5pt;
  }
  
  .panel-group .panel-heading a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  position: relative;
  }
  
  .panel-group .panel-heading a:after {
  content: '-';
  float: right;
  }
  
  .panel-group .panel-heading a.collapsed:after {
  content: '+';
  }
  
  
  .panel-group .panel-heading a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    position: relative;
    color: white;
  }
  
  .search-hero {
    max-width: 500px;
    padding-bottom: 50px;
    margin:auto;
  }
  
  .form-control {
    box-shadow: 0 10px 40px 0 #B0C1D9;
  }
  .form-control::placeholder  {
    font-family: FontAwesome;
  }
  
  
  
  p {
    font-family: Lato;
  }
  
  .carousel{
      width: 450px;
      height: 200px;
  }
  
  .carousel .img-video-div{    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
  }
  
  .img-video-div video, .img-video-div img{
      height: 100%;
      width: auto;
  }
  
  .carousel .carousel-control{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    top: 40%;
  }
  